[2012-12-20 19:59] tobya opened #1 "Ensure out of range formats are passed through on -TF"
It is possible to use -TF to pass through values, but this should be checked to make sure its actually being passed through.

[2012-12-29 16:53] #1 closed, assigned to nobody

[2013-01-04 13:51] tobya opened #2 "Allow testing of connection without RUN"
Currenlty not possible to check connnection except to do a full run

[2013-01-04 16:21] tobya opened #3 "Output how many files ar to be converted."

[2013-01-04 16:32] tobya opened #4 "Provide option to delete files as they are converted"
In certain scewnarions you wish to remove files onces converted, this should be possible

[2013-01-04 16:33] tobya opened #5 "Explain what will happen"
Provide parameter to explain what will happen

Will out put English readable explanation of what will be done

eg.

File input dir
~File output dir

ext etc.

[2013-01-05 09:30] tobya opened #6 "Ensure correct ending \ for output dir"
Otherwise word won't save
Or force dir doesn't work

[2013-01-06 10:57] #4 closed, assigned to nobody

[2013-01-06 10:58] tobya opened #7 "Warn if missing ext"
If output file is directory then warn if -OX is missing.

[2013-01-08 00:33] #2 closed, assigned to nobody

[2013-01-21 12:12] tobya opened #8 "Web hook start finish"
Do we need to call we hook for these

[2013-01-21 12:13] tobya opened #9 "Logging"
Logging is ciurrently not quite right needs to be standardised

[2013-03-07 17:39] tobya opened #10 "Check Verbose logging"
At the moment the logging is a bit all over the place, needs to be tidies up

[2013-04-25 21:28] tobya opened #11 "ensure dot before -OX extension"
if -OX parameter is used

The dot must be present in the extension eg .pdf not pdf

Check in code if dot exists and if not insert it or raise error

[2013-04-25 21:29] #8 closed, assigned to nobody

[2013-10-02 15:28] tobya opened #13 "Add option to dump reg file for context menu"
Add an option to dump a reg file that registeres docto to convert -doc file to something.

eg reg file to convert any .doc file to .pdf

[2014-06-14 09:21] hdave30 opened #14 "cmd not executing in php using shell_exec"
shell_exec('C:\wamp\www\editor\DocTo-master\exe\docto -f C:\wamp\www\editor\uploaded\uploaded_files_21_original\AffidavitinDIR-4.docx -O "C:\wamp\www\editor\uploaded\uploaded_files_21_original\pdf\21.pdf" -T wdFormatPDF');

This is not executing and gives me the error code 220.
However it executes fine in cmd line

[2014-08-13 07:08] #7 closed, assigned to nobody

[2014-08-13 07:08] #10 closed, assigned to nobody

[2014-08-13 07:10] #6 closed, assigned to nobody

[2014-08-13 21:35] tobya opened #15 "-Q Doesnt Work"
_Q Doesnt supress output

[2014-11-15 20:16] #14 closed, assigned to nobody

[2015-03-17 08:58] tobya opened #17 "ignore __MACOSX directory"
When downloading from dropbox or sometimes if copying off disk a __MACOSX direcory is created with lots of .doc files. These cant be converted but docto tries.  There should be a switch ot ignore, which would be true by default.

[2015-03-17 09:44] tobya commented on #9
This has been fixed

[2015-03-17 09:44] #9 closed

[2015-03-17 19:55] tobya opened #18 "Help outputs should wrap at 80 characters"

[2015-03-17 20:13] tobya opened #19 "Older version using wdFormatDocumentDefault=16 raises incorrect error"
When using Word 2003 V 11.0 and using wdFormatDocumentDefault=16 it raises error

OutputFile:d:\tempdump\asdfasdf.doc
Ext16

---

Error: EOleException  Command failed

---

Error: Exiting with Error Code : 220

it should really raise error saying out of range.

You need to use wdFormatDocument97=0

[2015-03-18 17:06] tobya opened #20 "dealing with .docx files"
Searching a directory finds doc files but does it find .docx files to convert?

[2015-03-18 17:06] tobya opened #21 "Does raising error on file exists cause app to crash"
Put this back in but output to log rather than raise error.

https://github.com/tobya/DocTo/blob/9a53d006e5dda508109d5ce8f60fa1755cc6fef2/src/MainUtils.pas#L401-L406

[2015-03-18 20:30] tobya opened #22 "allow relative directories"
at the moment the -f and -O parameters require full paths to be reliable,

look at allowing relative paths.

[2015-03-18 23:21] tobya commented on #17
Fixed by 5cf8c34549ae11e41da7267d9b2ae5210bf1813d

[2015-03-18 23:24] tobya commented on #3
b6383c177965c3c3a1b6442aaa8bb5f1975bd619 now provides list of files to be converted in VERBOSE mode

[2015-03-19 10:02] tobya commented on #5
This should be quite straight forward just switch off execute and print out file list and configs.

[2015-03-19 20:16] tobya commented on #17
Code is wrong way around, not sure how passed

    function TDocumentConverter.AllowDirectory(DirName, FullPath: String): Boolean;
    begin
    Result := true;
    if (Ignore_MACOSX) then
      if (DirName <> '__MACOSX') then
      BEGIN
        Result := false;
      END;
    end;

By my reckoning this will only show MACOS folder

[2015-03-21 08:44] tobya commented on #15
Seems to work now running iwth -Q doesnt produce any output

[2015-03-21 08:44] #15 closed

[2015-03-21 20:13] tobya opened #23 "If csv file is being opened then the same special code needs to be used."
Special code is used

https://github.com/tobya/DocTo/blob/master/src/ExcelUtils.pas#L97

if xls file is being saved as csv to avoid dialogs poping up.  The same code it seems needs to be used when a csv file is being converted to a xls file.

[2015-03-21 21:24] tobya opened #24 "Add parameters for ExportasFixedFormat"
Saving as pdf and xps use the [ExportAsFixedFormat](https://msdn.microsoft.com/en-us/library/bb238907%28v=office.12%29.aspx) function in Excel which has many additional parameters, maybe we should explore implementing some.

[2015-04-01 19:42] #23 closed

[2015-04-02 18:36] tobya opened #25 "Implement verbose parameters"
Many apps have verbose parameters to aid readability eg.

-T --output-filetype
-F --input-file-folder
-O --output-file-folder
-W --webhook-url

[2015-07-10 07:38] tobya commented on #17
Fixed by commit be7b82dcea0959cb5cdbb851017b017be8cb9bd0

[2015-07-10 07:38] #17 closed

[2015-07-31 10:49] tobya opened #26 "Should be able to give a url with parmaters already given"
Ideally -W shoudl be able to use a url that already has params on.  Should be easy to fix, just check for ? in url.

[2015-08-14 09:43] tobya commented on #25
Implemented in longparams branch and merged

[2015-08-14 09:43] #25 closed

[2015-08-14 09:45] tobya commented on #26
Fixed now

[2015-08-14 09:45] #26 closed

[2015-10-27 18:34] tobya opened #28 "If no directory provided in -f use working direcotry"
If fdirectory not specified, seems to use system32 not dir bat file is run from.

[2015-12-26 16:50] tobya commented on #13
I looked into this and its really not as straightforward as I had hoped.  User can do it easily themselves.

[2015-12-26 17:44] tobya commented on #24
Looked at this and decided that the params are not needed.  if anyone wants them reopen this.

[2015-12-26 17:44] #24 closed

[2015-12-26 17:45] tobya commented on #11
This has now been fixed with 203ba0f58983327b57fb216bdc935d5f5ec91e3b

[2015-12-26 17:45] #11 closed

[2015-12-26 17:52] tobya commented on #18
Fixed in 87fd807a23274bc7ca561b38f57a6d2dd03f5b1d

[2015-12-26 17:52] #18 closed

[2015-12-27 10:24] tobya opened #29 "Check error when run on macine without word or excel installed"
Give a useful error message

[2016-03-12 09:20] tobya opened #30 "Some Word Documents cause UI error message to be shown."
Some word documents for an as yet unknown reason cause a system error to be shown in the UI.

This blocks execution of the script, until User interaction clicks the ok button on the word.

[2016-03-12 09:23] tobya commented on #30
A current solution is to record a log of files that take longer than a set number of seconds to convert and records them in a config file.  They can then be skipped on subsequent runs.

[2016-04-20 09:39] Chris2Power opened #31 "Error using Docto"
I always get an Error with docto (new user).
Exiting with Error Code 220.
EConvertError '14.0' ist not a valid floating point value
Office 2010 ist installed. Can you give me a hint?

[2016-04-21 11:49] tobya commented on #31
Hi

Can you give me an example command line you are using to run this.  I will see if I can track down what is causing the error.

[2016-04-25 06:28] Chris2Power commented on #31
Hi, batch contains:

docto -f C:\docto-test\test.doc -O c:\docto-test\test.pdf -T wdFormatPDF -GL Logfile.log -L 10

output:
Log Level Set To:10
Loading Configuration...
Parameter Count is 10
Input File is: C:\docto-test\GODO Sonnhalde.doc
Output file is: C:\docto-test\GODO Sonnhalde.pdf
Log Level Set To:10
Type Integer is: 17
Ready to Execute
*******************************************
Error: ECo

[2016-04-27 19:32] tobya commented on #31
Are you somewhere in the world where you use ',' (comma) to seperate decimal numbers rather than a '.' (point)?

eg do you write 11,0 and 11,1 or 11.0 11.1

[2016-04-27 20:03] tobya commented on #31
@Chris2Power  This issue is fixed now.  It was an internationlisation issue I think.  The latest relase

https://github.com/tobya/DocTo/releases/tag/V0.7.9

has the fix in it.

[2016-04-27 20:03] #31 closed

[2016-04-28 17:07] tobya commented on #30
This si currently beeing looked at in branch #

[2016-04-29 21:43] tobya commented on #28
The latest commit fixes this issue but will not work with subdirectories off teh working directory.

[2016-05-02 04:32] hungminhtran opened #32 "save to txt error"
My word doc contents many unicode characters. I can't read it after convert to txt.

[2016-05-02 05:26] hungminhtran commented on #32
https://msdn.microsoft.com/en-us/library/office/ff860880.aspx
Need a parameter for user to input the encoding

[2016-05-02 07:12] tobya commented on #32
I'll see what i can do. Does using Unicode format help

[2016-05-02 07:29] hungminhtran commented on #32
Yes, I use it but still get wrong character encoding.

[2016-05-02 10:53] #28 closed

[2016-05-07 08:56] tobya commented on #32
Ok I will work on adding the encoding parameter as  a command line param to docto.

[2016-05-07 17:03] tobya commented on #32
@hungminhtran would you be able to send me a document to try?

[2016-05-07 18:16] tobya commented on #32
I have added in Encoding as  a parameter -E set to integer.

Not in master as I need you @hungminhtran to check it works.  Compiled version here https://github.com/tobya/DocTo/releases/tag/V0.7.10Fix

[2016-05-08 16:24] hungminhtran commented on #32
@tobya
I checked successfully with this doc below
[link doc](https://www.dropbox.com/s/redrdzxte8gqhjr/connguoi.doc?dl=0)
[wrong encoding](https://www.dropbox.com/s/2y6bohin537am0r/Screenshot%202016-05-08%2023.21.41.png?dl=0)
[right encoding](https://www.dropbox.com/s/ic0o5z8dx8qaxxp/Screenshot%202016-05-08%2023.21.59.png?dl=0)

command with args

[2016-05-09 08:10] tobya commented on #32
Great, I'll push to master then.  I might use your linked doc for testing is that ok?  Do you mind if it is in github?

[2016-05-09 08:16] hungminhtran commented on #32
It's okie, bro.

[2016-05-09 15:22] #32 closed

[2016-05-14 06:22] tobya commented on #29
EOleSysError is raised and Error 400 issued.

[2016-05-14 06:22] #29 closed

[2016-05-14 06:58] tobya opened #34 "All directories are being rejected as non existant"
if you try to convert a directory rather than a file you get an error that the file is not found.

[2016-05-14 06:58] tobya commented on #34
Fixed in most recent commit

[2016-05-14 06:58] #34 closed

[2016-09-21 16:07] tobya opened #35 "Error: Exiting with Error 400: EOleSysError Invalid class string, ProgID: "Word.Application""
When word not installed.

Nice error message would be good.

[2017-04-12 04:08] hollasch opened #36 "Directory conversion attempt fails on A: drive"
- OS: Windows 10
- Docto Version:0.8.11
- Office Version : 16

Here's an example:
[code]

Note that the directory `A:\srh\z` exists and is empty. The directory specified to the `-F` argument exists, and is the current working directory, and contains `.docx` files.

Specifying `.` as the target directory yields a similar result:
[code]

[2017-04-12 09:14] tobya commented on #36
@hollasch Thank you for the issue.  I wil have a look.

Can you try with a `\` on the end of the output dir  `A:\srh\TEALS\apcsa-curriculum-2\`

     ..\apcsa-curriculum\tools\docto.exe -T wdFormatPDF -F "A:\srh\TEALS\apcsa-curriculum-2\" -O "A:\srh\z" -OX .pdf

I have never tried using `.` so i'm not sure about that.

[2017-04-12 10:07] tobya commented on #36
@hollasch  Actually I don't think that was the issue as it should be fixed.   Can you try on the `C:` drive?  Do you get the same error?

Are their .doc files or just .docx files in the directory?

[2017-04-12 19:10] hollasch opened #37 "Error output is malformed"
While testing another issue (#36), I verified that the error output is malformed. See the line between the asterisks lines below. It looks like the file name is printed with only a carriage return, after which the error message itself is printed.

[code]

[2017-04-12 19:13] hollasch commented on #36
There are only `*.docx` files in the directory.

The command works as expected on the `C:` drive. It looks like the behavior is only on my `A:` drive. If I create a virtual `B:` drive, that seems to work fine as well.

In case it's something odd in your code with the letter itself, you can create a virtual `A:` drive with the following command:

[code]

[2017-04-12 21:15] tobya commented on #37
ahhh amazing.  I had noticed this bug a long time ago but never could figure out what was happening.  A bit of poking around with your suggestion and I think I've solved it, thank you @hollasch

[2017-04-12 21:31] #37 closed

[2017-04-12 21:48] tobya opened #38 "Relative paths fail"
Relative paths

    ../mydocs/lookhere

will find and list all files but word will exit with an error.

To fix the relative path needs to be turned into a absolute path prior to passing to word

Related to #22

[2017-04-12 21:56] tobya commented on #36
I think you `./` issue is a bug with relative paths.  I have logged a seperate issue #38

[2017-04-12 22:00] #20 closed

[2017-04-14 06:23] #22 closed

[2017-04-14 06:28] tobya commented on #35
This was fixed

https://github.com/tobya/DocTo/blob/master/src/MainUtils.pas#L400

[2017-04-14 06:28] #35 closed

[2017-04-15 08:04] tobya commented on #36
@hollasch The latest release has a fix for the relative paths issue and the incorrect error output.   I havent done anything about the a: issue though.

[2017-04-17 20:04] hollasch commented on #36
NOTE: The release binary is different, but still reports version 0.8.11.

[2017-04-17 20:09] hollasch commented on #36
I think this is the same binary, as error messages in general still yield the carriage-return bug. Let me know when you get it sorted out and I'll re-test.

[2017-04-17 20:38] hollasch opened #40 "Conversion fails on Word .docx file for unknown reason"
[code]

(Using Office365 latest.)

Problem file: [Text Excel C Student Guide.docx](https://github.com/tobya/DocTo/files/926600/Text.Excel.C.Student.Guide.docx)

Conversion hangs when trying to process the above file. For some reason, it stalls for about five seconds, then brings up the Word save dialog. Hitting the save button seems to have no effect, as the dialog remains and the file is not save

[2017-04-17 21:23] tobya commented on #40
@hollasch Thanks for the issue.

In my use I have always had certain files that have for various reasons forced word to display dialogs which causes issues with a command line utility.  I have never really found a consistent reason for this.  However it is good to have a file to test on, thanks.  I'll see if I can track down or work around the issue.

[2017-04-17 21:23] tobya commented on #36
I will take a look.

[2017-04-19 07:13] tobya commented on #36
@hollasch I have made a new release. Should be fine.  If not let me know exactly where the messed up error is occuring.  Thanks

[2017-05-04 20:06] wadefl-yahoo opened #42 "xlsTO convert XLSM"
Is it possible to convert XLSM with the program if so what steps do I need to take? So this seems to be just the Batch Folder mode, that does not convert the xlsm

Thanks,
Wade

[2017-05-07 21:43] tobya commented on #42
@wadefl-yahoo Thank you for the issue.

It seems to me that XLSM is

    xlOpenXMLWorkbookMacroEnabled=52

so try passing that in as the -T parameter.  If you are still having issues try to be as specific as possible about exactly what you are doing and what isnt working.  Please provide details of the command line you execute.

[2017-05-08 21:03] hollasch commented on #37
Verified fixed.

[2017-05-23 04:51] hollasch commented on #40
I think I've figured out the trigger. All three files that I have problems with have tables of contents. If you remove the table of contents from the Word file, then the conversion proceeds without issue. Also, once you cancel out of both dialogs, it looks like the PDF is still created, and looks good. The only annoying glitch is that the original dialog typically pops up under other windows, so i

[2017-05-23 08:07] tobya commented on #40
@hollasch thanks for the additional info.  I will see if I can replicate and maybe try to deal with them, but there is not much I can do if Word is going to pop up modal windows.

[2017-05-23 21:35] hollasch commented on #40
Totally agree. This isn't really a flaw in your tool, it's more about winword's behavior. Documenting here to help other users navigate this situation.

[2017-05-24 20:23] tobya opened #43 "Word Document with Table of Contents causes DocTo to hang"
It seems a document with a table fo contents causes docto to hang.

on older versions of Word a modal dialog is popped up, but on newere version it just seems to hang.

[2017-05-24 20:24] tobya commented on #40
I have reproduced this and logged as #43

[2017-07-06 05:17] pancodia opened #44 "Word Document with Tracked Changes causes DocTo to hang"
Some of my docs have tracked changes. It seems that DocTo has problem to convert them.

[2017-07-08 07:28] tobya commented on #44
@pancha0 Thanks for the heads up.  I will try to reproduce, we foudn the same issue with Tables of contents.

[2017-07-31 11:27] craftpip opened #45 "Does this support docx files ?"

[2017-08-02 19:40] tobya commented on #45
Yes, but may find .doc files by default.  @craftpip

Have you had a specific issue?  Can you send me any errors you got.

[2017-08-23 14:07] FVANCOP opened #46 "Not working via Windows Task Scheduler"
I want to use docto and xlsto via the Windows Task Scheduler but have some problems.

In the folder C:\DOCXLS, the program DOCTO.EXE has been copied and the sample Word document "test.docx" has been created. Also the following 2 files have been created in that directory.

Program 1 : c:\docxls\docto.bat

     "C:\docxls\docto" -f "C:\docxls\test.docx" -O "C:\docxls\result.txt" -T wdFormatText > C:

[2017-08-23 14:15] FVANCOP opened #47 "Option for Password Protected files"
I have to treat lot of excel and word files with the DOCTO and XLSTO programs. I will do it via a generic program that will check all those files one bye one. This program will run has a background process without any intervention (via the Windows Task Scheduler).

If the word/excel file is password protected, you are prompted for the password.

It would be nice to have an option to bypass the pro

[2017-08-25 11:09] tobya commented on #47
@FVANCOP  thank you for the feature request.  I will look at the word interfaces and see if there is a way I can do this.  I don't have any password protected files which is why it isnt implemented.

[2017-08-25 11:13] tobya commented on #46
@FVANCOP  Thanks for the issue.

hmmm this seems to me like a user rights issue.  If the user is not logged in there may be a problem with interacting with Word, which essentially is fundamentally designed to work within a user session so this may be causing it some issues.

To get more info, Try logging in as the user and see if you can run the vbs script from the logged in session - if not this

[2017-08-25 11:16] tobya commented on #45
I am going to close this issue.  Feel free to put additional information here if you need to.

[2017-08-25 11:16] #45 closed

[2017-08-25 11:17] tobya commented on #42
I will close this, but feel free to add more info if necessary.

[2017-08-25 11:17] #42 closed

[2017-08-25 11:18] tobya commented on #36
I think this is now fixed.

[2017-08-25 11:18] #36 closed

[2017-08-25 13:08] FVANCOP commented on #46
Thanks for your answer and for your great job :-)

If I run it with my own userid, even if my user is not logged on, it works. So you are right : it is an access problem or a MSWord definition that is missing for the user that I use to perform the job.

It is not an access problem to the file - The user has access to it;
It is not an problem to access word (I logged that user on my PC and starts M

[2017-08-25 13:08] #46 closed

[2017-08-27 20:52] tobya commented on #47
@FVANCOP I have fixed this to ignore password protected files.  When it encounters one it issues a log

     SKIPPED - Password Protected:D:\Development\GitHub\DocTo\test\Inputfiles\CullohillApplePie_Protected.doc

I have attached build in zip. Can you try and let me know if it solves your issue.  If it does I will release.

[docto.zip](https://github.com/tobya/DocTo/files/1254716/docto.zip)

[2017-08-27 21:08] tobya commented on #40
The next release will contain an experimental fix for this by using the

    --skipdocswithtoc

any docs with a TOC will be skipped, however I have found that some file would have been converted properly before but will now but skipped.  Any more info from anyone appreciated.

[2017-08-27 21:10] tobya commented on #47
@FVANCOP If you would like I would love to know what you are using DocTo for, you can add details on this wiki page  https://github.com/tobya/DocTo/wiki/Uses-of-DocTo-in-the-wild

If you would rather not, no problem.

[2017-08-28 08:01] tobya opened #48 "Unconverted files will be removed"
With latest version if a file is skipped due to having TOC or password it will be deleted if the -R (remove files after successful conversion ) param is true.

[2017-08-28 08:02] tobya commented on #47
This is now fixed in 0.8.14

[2017-08-28 08:02] #47 closed

[2017-08-28 08:02] tobya commented on #43
Fixed in 0.8.14 in an experimental fashion

[2017-08-28 08:02] #43 closed

[2017-08-28 11:56] FVANCOP commented on #46
FYI : Problem solved

Resolution : I had to create the folder C:\Windows\System32\config\systemprofile\Desktop

see https://stackoverflow.com/questions/1674836/how-to-run-a-windows-2008-task-from-the-scheduler-with-interact-with-desktop

[2017-08-28 11:58] FVANCOP commented on #47
It works for docto. Great thanks !

But .... can you do the same for XLSTO ?

[2017-08-28 12:29] FVANCOP opened #49 "XLSTO with a fully qualified UNC path output name is not working"
The command "XLSTO -f test.xls -O \\\\myserver\mysharedfolder\test.csv -T xlCSV " is not accepted  : the "-O" does not allow a fully qualified name (I mean "\\\\[server]\[map]\[output file]").

It is not a problem using it in the DOCTO command. Only in XLSTO.

<B>Example : </B>

<B>C:\converter>xlsto -f test.xlsx -o "\\\\gfs.pvgroup.intranet\gfs\DPT\IT_D001\Infra_ZOS_DBA_D001S\03_Zseries\result.tx

[2017-08-29 07:24] tobya commented on #49
hmm I'll take a look, this looks like it might be an excel issue though.

Thanks for raising the issue.

[2017-08-29 07:26] tobya opened #50 "Ignore password protected XLS files"
#47 dealt with password protected files for Word, we should do the same for xlsto also.

[2017-09-13 08:57] jsangradorp opened #51 "Modify "view only" setting of XLS file"
Hi! This is more of a feature request, so please feel free to ignore and/or close it 😄

I would like to be able to set an XLS file to view only mode, from the command line, so as to script it for a full directory tree.

Thanks for considering!

[2017-09-13 15:23] tobya commented on #51
Thanks for the issue @jsangrador

If I get you right you would like to open each file in a dir tree modify the view only setting of the file and then resave?

If so, I think that's sort of outside the primary scope of DocTo or XLSTo, but I'll take a look.

[2017-09-13 15:27] jsangrador commented on #51
Yes that is the idea. I understand it is outside the primary scope of XLSTo, but thanks a lot for considering 😄 .

Although the directory traversal could obviously done outside, of course.

[2017-09-13 15:46] tobya commented on #51
It is an interesting idea though so I'll look into it when i get a moment

[2017-09-16 21:41] tobya commented on #51
@jsangrador I'm not sure I understand the exact setting you are asking for.  Could you let me know what you do to set this value manually, or if you have a microsoft documenation page that explains the value setting that would be helpful.

[2017-09-18 11:51] jsangrador commented on #51
The thing is I am looking into this on behalf of a relative and me myself I never use Excel myself! Add to that his Excel is in Spanish. He says he opens a file, and inside the "Review" ("revisar") "tab" there is a "protect sheet" ("proteger hoja") option and a "protect book" ("proteger libro") option, and he says that any of the two options is good for him. I hope that helps.

[2017-09-21 15:42] jimenabpose opened #52 "Html with base64 encoded image not showing image in docx"
I'm using docto to convert html to docx, but when the html has a base64 encoded image it appears in the docx as an invalid image and it's not shown. Here you can find an example of the html input and the docx output: https://drive.google.com/drive/folders/0B1-JAAkA1WqjcWlVSVBvQnBOTzA?usp=sharing

[2017-09-21 18:26] tobya commented on #52
Thanks for the issue

This may be an issue with word. Can you manually open the html page in word and see if you get the same result. Also check after saving.

Let me know

[2017-09-21 19:06] tobya opened #53 "Allow https url to be specified for webhook"
Currently only http url is allowed.

Possibility to drop out to curl if on system, or ignore security warning.

[2017-09-21 19:24] jimenabpose commented on #52
Thanks for the quick response.
Yes, it seems to be an issue with word, I can't see the image when I open the file as you described. Do you have any workaround?

[2017-09-22 08:41] tobya commented on #52
I dont know of any workaround, sorry.

I'll close this issue as it is a problem with Word.

[2017-09-22 08:41] #52 closed

[2017-11-13 14:03] sergeevabc opened #54 "Does not work at all"
Win 7 x64, DocTo 0.8.14.24

[code]

[2017-11-27 09:59] tobya commented on #54
Thanks for the issue.

It looks like you dont have word installed.  You need to have word installed for it to work.

[2017-11-27 09:59] #54 closed

[2017-12-19 17:06] AdriedB opened #55 "Raise File Save As dialog with some files"
Hi,

Converting some .doc files raises (after a successfull conversion) a "Save as dialog" with the possibility to save the Word document. In this way it isn't a commandline convert tool anymore.

Any help is preferred to solve this problem.

Regards,
Adrie

[2017-12-19 19:31] tobya commented on #55
Hello, Thank you for the issue.

I'm not sure I follow. Do you wish for a save as dialog to pop up or are you saying one does?

If one pops up when it should not, can you provide the command line that you use to run docto and also if possible could you send me the document that is causing the problem?

There are lots of errors that can happen on documents that may cause such things to happen.  I'm

[2017-12-20 10:54] AdriedB commented on #55
Hi Tobya,

Thanks for you reaction. I have tried the following command-lines, but none is working.
(I am using docto version 0.8.14.24 and I am working with Word 2016)

An example file is also attached.

docto -f GEOCADx.docx -O "GEOCADx.pdf" -T wdFormatPDF
docto -f "." -O "pdf" -T wdFormatPDF  -OX .pdf
docto -R true -f "GEOCADx.docx"  -T wdFormatPDF

[GEOCADx.docx](https://github.com/tobya/DocTo/

[2017-12-20 10:58] AdriedB commented on #55
I forgot the answer to the following question:

Of course I don not want a questionon a "Save as" dialog, because then I cannot use this tool to script the action to convert automatically doc/docx files to pdf.

[2017-12-22 12:02] Ligadonasaude-gmcv opened #56 "Error: EOleException: This command is not available because no documents have been opened"
Hi Tobya.

Man, I'm trying to execute the command through php. like this:

    exec('C:\wamp\www\DocTo-master\docto.exe -f C:\wamp\www\teste\\'.$filename.'.txt -O
    "C:\wamp\www\ligadonasaude_pdfs\\'.$filename.'.pdf" -T wdFormatPDF 2>&1', $output, $return);

But when I do, this error happens. If I do it directly in the cmd, it works. Is that a bug or I'm doing something wrong?

Best!

[2017-12-22 18:34] tobya commented on #56
Thanks for the issue.  It seems is not opening the file for some reason.  Can you print the string that gets put into exec() to see exactly what is being run?

[2018-01-03 15:16] AdriedB commented on #55
Hi Tobya,

Best wishes for 2018 to start with!

I am a little bit curious, can you provide me a status update? Can you help me to solve my problem?
Otherwise I have to find an other solution for converting word documents tot pdf.

Kind regards,
Adrie

[2018-01-05 17:51] tobya commented on #55
@AdriedB I'm not sure when I'll get to look at your document.  If I find a  simple solution I will let you know.  Perhaps for the moment if you have another solution that could provide you with a work around.

Thank you for trying out DocTo

[2018-01-31 11:39] dimasusl commented on #35
Release V0.8.14

docto.exe -F test.rtf -O test.pdf -T wdFormatPDF
Exiting with Error 400: EOleSysError Недопустимая строка с указанием класса, ProgID: "Word.Application"

[2018-05-04 11:16] gavishwa opened #57 "Error: EOleException This command is not available because no document is open"
Hi,
Am trying to convert the RTF to DOCX. It works flawless in command prompt. The same one doesnt work , if i give the command in Windows batch script. Am using Office 2010 word and OS is MS Win 2016 Standard  edition. Is this anything related with MS Windows-Distributed COM?

Kindly help me on the same.

Thanks,
--Vishwaa--

[2018-05-05 10:00] tobya commented on #57
Hi  Thanks for the issue.

Can you provide the command line that works and your batch script that doesnt work?
Are you converting just one file or many?
Does the error happen on all files or just particular ones?
How are you using distributed COM?

[2018-05-07 08:40] gavishwa commented on #57
Hi,

Working command:
=============
C:\Python27>docto -F "XXXXReleaseNotes_x01.rtf" -O "11.docx" -T 16
FileCreated: C:\Python27\11.docx

Not working one:
==========
cd /d C:\Jenkins\workspace\Test\PayLoad\XXXX_SW_Drop
rename XXXXReleaseNotes_GU_x00.rtf GU00.rtf
c:\doc2\docto.exe -F "GU00.rtf" -O "XXXXlV.docx" -T 16

Am converting only one file . It happens for all RTF. Am using Jenkins Framework w

[2018-05-07 08:44] tobya commented on #57
Try using fully qualified filename for -F and -O and see if that fixes the issue?

There are some issues with relative filenames.

[2018-05-17 11:52] tobya commented on #57
I assume using a fully qualified filename worked?  @gavishwa

I'll close this.

[2018-05-17 11:52] #57 closed

[2018-05-17 11:53] #56 closed

[2018-05-18 19:58] #40 closed

[2018-05-18 19:58] #48 closed

[2018-05-18 20:49] #55 closed

[2018-05-18 20:51] tobya commented on #55
This is solved in #59

[2018-05-18 21:11] tobya commented on #55
Hello @AdriedB

I think the latest release fixes this issue.

[2018-05-19 16:31] AdriedB commented on #55
I'll try the latest release next week. Thanks for your support!

[2018-05-23 13:03] AdriedB commented on #55
I have tested the latest version of docto and my problem with the Save As dialog is solved. Now I can use this tool to batch convert .doc(x) files to pdf. Again thanks for you support!

[2018-06-07 09:04] zhanglianbo35 opened #63 "the process pause in the middle,"
if there are many files need to be converted(some files may be larger than 50M ), it seems the process will be easily paused in the middle,(not compute issue) the environment is WIN10 64 bit, and MS office 2016 32 bit.

[2018-06-10 06:38] tobya commented on #63
By pause do you mean stop and hang?

Usually this is because 1 document has caused Word to pop up a dialog or a system error. Try the latest build it has some fixes. Otherwise if you can figure out which document causes the hang if you can send it to me I can see if I can figure out what is happening

[2018-06-11 03:40] zhanglianbo35 commented on #63
I tested it several times,  I found in WIN10 and office 2016, if the RTF file is very large(larger than 50M) then the task will be hang,  there is no error,  But in Win7 and office 2013,  although the task will be very slow, when met large file,  it finally can be finished.

[2018-07-30 14:54] tobya commented on #53
I have used idHTTP with a ssl socket and tls 1 - 1.2 is supported.  I have odone baseic testing

[2018-08-30 22:55] kenneychan opened #64 "Latest Release version"
On https://github.com/tobya/DocTo/releases the latest release on May 18, 2018 is V0.8.15 but the link name is V0.8.14.  The link should be V0.8.15.

[2018-09-21 02:46] zhanglianbo35 opened #65 "docto.exe was killed by anti-virus software"
as title,
![image](https://user-images.githubusercontent.com/19187724/45857472-6d7fdc80-bd8b-11e8-9f57-ffb3f7c842ee.png)

[2018-09-21 11:36] tobya commented on #65
Thanks.  As compiled and downloaded from github its not a virus!

[2018-09-21 11:36] #65 closed

[2018-09-21 13:13] tobya commented on #63
The reality here is that it is Word that is saving the file as a pdf.  Does the file save successfully as a pdf if you try manually from word?

[2018-09-25 11:16] zhanglianbo35 commented on #63
Yes, it can be saved as PDF manually successfully in MS WORD.

[2018-10-30 18:54] SirElismyer opened #66 "-R doesn't work"
Simple as that. the -R option doesn't work at all.

Latest version.
Windows 10
.doc to .pdf using the command provided in the readme

[2018-10-31 16:41] tobya commented on #66
Thank you for the issue. I'll take a look and see if I can reproduce.

[2018-11-09 12:35] tobya commented on #66
@SirElismyer  I investigated this, it does work but you need to add `true` after -R

    docto.exe -f "inputfile.doc" -o "outputfile.pdf"  -R true

I agree this is not obvious from the readme (and I even forgot myself you needed todo this, so I will add to readme and also add to log when no value provided.

Thank you for using docto.

[2018-11-09 12:35] #66 closed

[2018-11-25 11:39] gamgamstyle opened #67 "XlsTo - convert only first page or one named table not whole spreadsheet"
Is it possible to convert only first page (or number given) or a named table not the whole spreadsheet?

[2018-11-25 18:40] tobya commented on #67
Thank you for the issue @gamgamstyle .

Currently that is not possible. I'll add it as a feature request.  I am unsure when it will be implemented.

If you or someone else would like to submit a PR that would be great.

[2018-11-25 18:41] #53 closed

[2019-02-23 10:25] me-suzy opened #69 "Tutorial PLEASE (step by step) Convert Word to TXT"
hello, I have many .doc and .docx files and I want to convert into .txt. I believe I had to use cmd platform,. For example, where should I use this line: ?

docto -f C:\Directory\MyFile.doc -O "C:\Output Directory\MyTextFile.txt" -T wdFormatText

I open cmd, try, comamnd isn't good. I open testDocTo.bat and automatically carries out some rows then closes. So, how can I use your program?

[2019-02-23 22:57] tobya commented on #69
If DocTo is not on your path you will need to supply the full path so try

[2019-02-24 07:24] me-suzy commented on #69
hello. Yes, but where is the file doctor.exe in your archive software? I download DocTo-master.zip and I cannot find any .exe ??

[2019-02-24 10:00] tobya commented on #69
Hi, You have downloaded the source code.

You can download the `.exe` from the [releases page](https://github.com/tobya/DocTo/releases)  Here you can directly download `docto.exe`

[2019-02-25 01:56] shakenbakesl opened #70 "Running under Wine?"
Hi, has anyone tested running this application under Wine? At the moment I'm converting docx to pdf via xfvb -> wine -> winword + macro + cups-pdf but the process is a bit convoluted and could be a lot better. I'd like to give this a try. Does anyone have any millage using it this way?

[2019-02-25 13:03] shakenbakesl commented on #70
If anyone's interested, I tried it and it works fine. My setup is based around the popular ubuntu/wine/office 2010 configuration that people will invariably come across if they're doing this. It's significantly quicker than the method I've currently being using.  The only quirk I've noticed is that the -f and -O arguments will not take spaces no matter what I've tried.

[2019-02-27 18:50] tobya commented on #70
@shakenbakesl  Thanks for the update.

If you felt like writing a [Wiki page](https://github.com/tobya/DocTo/wiki) on how to set up on Wine that would be great.  Also if you wanted you could update[ this page](https://github.com/tobya/DocTo/wiki/Uses-of-DocTo-in-the-wild) on what you are using DocTo for.

[2019-02-28 21:39] #69 closed

[2019-02-28 21:43] #3 closed

[2019-03-02 17:58] #70 closed

[2019-03-15 10:53] elektrotiko opened #71 "V0.8.17 - DocTo Blocked in my antivirus program due to being potentially untwanted"
V0.8.17 - DocTo is being totally blocked by my F-secure, while V0.8.15 is accepted. What changes have been made in V0.8.17 ?

[2019-03-24 07:30] tobya commented on #71
Hello

The main changed introduced would have been the ability to call https urls with the -w param.

This would have added quite a bit of size to the exe as it brings in lots of code used to deal with this.  Everything else is minor bug fixes.

[2019-03-24 07:30] #71 closed

[2019-03-28 18:06] tobya opened #72 "-G appends to log not obvious when new one starts"
When using -G it just appends to log.
Should put

[date] STARTING LOGGING SESSION

[2019-04-11 09:19] LittleNewton opened #73 "Does this tools support math formulas?"
I wrote some math formualtions using the MS-Word's built-in tool in a **.docx** file.

I can use **DocTo** to convert this docx to .txt file and all the formulas are in LaTeX format in the texts. It was pretty nice.

But when I tried to translate it into .pdf file, it doesn't work as I wished since the generated PDF was blank.

This is the Word file outline:

<img width="891" alt="屏幕快照 2019-04-11

[2019-04-13 07:30] tobya commented on #73
Thanks for the issue.

The code just asks Word to convert to PDF, so if its not working its an issue with Word.

What happens if you save as pdf from within word manually?

Can you provide the commandline you are running?

[2019-04-25 21:46] #73 closed

[2019-10-25 14:04] lboullu opened #78 ""Exiting with Error Code : 220" and default program"
When I run "docto -f "C:\Dir with Spaces\FilesToConvert\" -O "C:\DirToOutput" -T wdFormatPDF  -OX .pdf" in a folder full of docX, I get a box telling me "Word is not the default program for this kind of file, do you want to set it default?" and no matter what I answer I get the message

In the settings I set Word to be the default program for .doc, .docx, .docxml, .dot, .dothtml and .dotm, am I mi

[2019-10-26 07:46] tobya commented on #78
Thanks for the issue.

Perhaps try using -fx to specify '.docx' or 'docx' and see if that works.

Also try using docto to convert a single file specified file and see if that works

[2019-10-29 09:27] DrrMrr opened #79 "Export word bookmarks"
Hi,

is it possible to export also bookmarks when pdf is generated from docx file?

Thank you and best regards
Damjan

[2019-10-29 14:38] lboullu commented on #78
Ok it's working now, maybe restarting my computer helped or something

Thanks for your great tool!

[2019-10-29 16:04] tobya commented on #79
Hello Thank you for the feature request.  I am unsure.  Perhaps their might be a way to export bookmarks.

Do you want them as links in the pdf or what do you mean by export?

[2019-10-30 09:56] DrrMrr commented on #79
Hi,

Maybe I didn't explain correctly. Just to have an option to generate bookmarks.

This is Adobe reference pdf with bookmarks as seen on picture below:
https://helpx.adobe.com/pdf/acrobat_reference.pdf

![image](https://user-images.githubusercontent.com/174676/67847718-9aaccb80-fb03-11e9-8be8-82c27d6f93d8.png)

That would be just perfect, even though the app is awesome without that.

Best regar

[2019-10-30 12:13] tobya commented on #79
Thanks for the update.

Could you let me know what you need to do in a word document (via the UI) to get it to export bookmarks in a created pdf.  Once I have that information I can figure out how to get docto to export to the pdf also.

[2019-10-31 07:52] DrrMrr commented on #79
There is an aoption when you choose export pdf:
https://superuser.com/questions/95222/from-word-to-pdf-including-bookmarks#118531

[2019-10-31 14:44] tobya commented on #79
Great - that is really helpful.

I will see what I can do.

[2019-11-01 21:05] tobya commented on #79
ActiveDocument.ExportAsFixedFormat OutputFileName:= _
        "D:\DocumentsFolder\Documents\sasfasfsadf.pdf", ExportFormat:= _
        wdExportFormatPDF, OpenAfterExport:=True, OptimizeFor:= _
        wdExportOptimizeForPrint, Range:=wdExportAllDocument, From:=1, To:=1, _
        Item:=wdExportDocumentContent, IncludeDocProps:=True, KeepIRM:=True, _
        CreateBookmarks:=wdExportCreateHeadingBo

[2019-11-13 17:47] tobya opened #80 "Convert All or selected Worksheet to csv"
xlsto when converting to csv only does first sheet.  Should allow a way to do all sheets

Suggestion
--

 - --worksheets
- 1,2,3| all|active (default)

[2019-11-28 14:37] uaiuai opened #81 "Problems when running in service - run from commandline no problem"
Hello I am trying to use docto to convert doc files in a server process.
However it fails when running in the process - I can see how word is started and starts to use more and more ram but will never create the PDF (20191128 14:57:19). However if start from the commandline (20191128 14:58:32)  with the same command it behaves as it should. I tried to run the Service as system as well as with my u

[2019-12-01 08:18] tobya commented on #81
Hi

What version are you using?  Docto -V

Why is it listing .zip as the filename?

[2019-12-01 08:23] tobya commented on #81
Can you run with Verbose logging and see if it gives any more info.  Add `-L 10` to your commandline to get more logging.

[2019-12-02 15:48] uaiuai commented on #81
Unofrtunately not much more Info. Winword starts to use all CPU of one core and then memory consumption of winword.exe rises until the system hangs.

Log Level Set To:10
File List
C:\Temp\JobServerData\JobServer Files\8ad2a665-02da-4201-b74c-4764d78543f8\work\input\20522-9-0952_07_DOC_PUBLIC1533772221115647312.doc

Current Directory: C:\Temp\JobServerData\JobServer Files\8ad2a665-02da-4201-b74c-47

[2019-12-05 20:19] tobya commented on #81
I have had similar problems before with windows.  Take a look at #57  to see if the solutions offered in the thread will work for you.  It seems possibly to be a windows issue.

[2019-12-05 20:26] tobya commented on #79
I guess this could be the default?  Is there any reason anyone would not want bookmarks?

[2019-12-06 08:01] DrrMrr commented on #79
I also think so. I don't see the problem if this is by default or only this option is available.

[2019-12-06 10:10] tobya commented on #79
I have this working I'll try and push a PR over the weekend.

[2019-12-08 10:28] tobya opened #83 "Log Format: RFC"
The log files for DocTo are a bit all over the place, a little inconsistent and perhaps not useful.  I am wondering if anyone has comments they would like to share

eg.

- Format of log at most basic.  Do we need to log any thing other than thename of the converted file
- Should dates be included in more detailsed logs
- what info should be provided with Verbose logging.

All suggestions welcome.

[2019-12-08 10:50] tobya opened #84 "Help Output"
Now that XLS and Docto are combined, the help output is becomign unweildy.  Perhpas a -h and an -hx for help extended should be used with teh hx giving allthe help output including type codes etc.

[2019-12-08 11:28] tobya opened #85 "DocToXLS: Combine RC"
wdformats.rc and xlsformats.rc need to be combined.

[2019-12-09 10:25] tobya commented on #79
Hi @DrrMrr I have implemented this now and released.

Let me know how you get on and if you have any issues.  Also would be delighted if you could fill in your usecase here https://github.com/tobya/DocTo/wiki/Uses-of-DocTo-in-the-wild

[2019-12-09 10:25] #79 closed

[2019-12-09 16:12] DrrMrr commented on #79
Hi @tobya , I will try new features in the coming week. I can also post usecase as you have described. I will let you know how it will go.

[2019-12-09 18:17] tobya commented on #44
@pancodia Could you send me a document that causes this error?

[2019-12-09 18:31] #78 closed

[2019-12-09 19:10] tobya opened #88 "Error on long param not long"
Its very easy to only use one - when using a long param eg.

`-bookmarksource` instead of `--bookmarksource`.

If the param is longer than 3 characters and is not -- then an error should be raised suggesting that -- may need to be used.

[2019-12-10 09:07] tobya opened #89 "Switch off autodisplay"
pdf conversion seems to be making autodisaply

[2019-12-10 11:40] tobya opened #90 "Dont open pdf file on creation"
Change OpenAfterExport to false or parameter

https://github.com/tobya/DocTo/blob/8e485675f0848205f3244b7c7072dda04bdaffff/src/WordUtils.pas#L243-L246

[2019-12-16 10:05] uaiuai commented on #81
Thanks that helped, the proposed solution from #46 and #57 works like a charm

[2019-12-16 10:05] #81 closed

[2019-12-17 21:29] Wolle181 opened #93 "Creation of PDF leads to a save-changes question"
When a document containing a table of content (or other dynamic content like picture lists etc) is converted into a PDF, WORD usually updates the source document prior to store it as PDF.

When leaving WORD (respectively closing the reference) it will issue a save-changes dialog to the UI. In unattended sessions, this will stop the process or result in remaining instances of WORD in the background

[2019-12-19 17:15] tobya commented on #93
Thank you for the issue.

This is a problem. However I’m not sure what the fix is? Do you know what needs to be turned off?

[2019-12-19 17:18] tobya commented on #93
Ohh I see you’ve submitted a pr, I’ll take a look. Thanks for the contributions

[2019-12-21 16:04] tobya commented on #93
Relates to PR #95

[2019-12-21 16:19] #93 closed

[2019-12-21 17:13] #89 closed

[2019-12-21 17:46] tobya commented on #44
I wonder would #93 fix this issue also?

[2019-12-26 06:22] tobya opened #97 "Raise Error when wdformatpdf unavailable"
Before a certain version of word it is not possible to export pdf.  If 17 is used on this version, raise a specific error

Export to pdf is not available with your version of word

ratehr than the  general error that happens.

[2019-12-27 09:19] tobya opened #98 "Load Office Version from Cache (update daily)"
Checking the office version is a little slow as it needs to call a COM object and load.

Maybe cache each day.  Reload if a new day just incase a new version of office has een loaded.  Maybe indicate that office version is cached.

Not sure if this is neccessary.

[2019-12-27 10:26] #13 closed

[2019-12-27 20:10] tobya commented on #47
@FVANCOP I've added this into the code now for Docto to also skip password protected XL files.  It will be available in next compiled release.

[2019-12-29 07:20] tobya commented on #50
Fiexed

[2019-12-29 07:20] #50 closed

[2019-12-29 17:54] tobya commented on #90
Fixed with #94

[2019-12-29 17:54] #90 closed

[2019-12-29 18:24] tobya opened #102 "Check if -XL or -PP should be specified"
now that XL and PP files can be converted it is easy to load a xls file an doutput a csv and wonder why you get errors because you ahve forgotten -XL so -WD is used.

- Output help string to specify that WORD or EXCEL converter is being used
- Check if filetype is a normal XL or WD file type and break unless something specified.

[2019-12-29 22:03] #63 closed

[2020-01-09 06:45] c2b26 opened #104 "problems about building project to Linux 64-bit-Centos Linux 7(Core)"
I want  to build the project to linux enviroment.I don't know pacal language and how to use X,and then I have prepared environment with the help of http://docwiki.embarcadero.com/RADStudio/Rio/en/Linux_Application_Development#Running_PA_Server_on_Linux_machine.But when i change the project to linux Platform , there are problems.Please help me.
![图片](https://user-images.githubusercontent.com/833015

[2020-01-09 09:12] tobya commented on #104
Hello @c2b26 Thank you for the issue.  I have never tried to build on Linux and I am unsure whether it is possible.

Word and Excel are both windows only applications so I am unsure why you would need to run DocTo on a linux box.

I think DocTo is platform specific and it is not possible to compile on Linux.

[2020-01-09 09:49] c2b26 commented on #104
@tobya Thanks for your reply!
The reason  why I need to run DocTo on a linux box is that the server of my company  is linux and now I am ordered to convert Word to PDF by my leader.So I need a function that can convert Word to PDF .
Now I am reading your codes,I hava a question that the function of coverting Word format to PDF format is written by your self or used Window api.
If the code use Wind

[2020-01-09 10:40] tobya commented on #104
DocTo uses Word and Excel to do the conversion.  You will need 1 machine with windows installed (can be windows 7,8,10) and a copy of word .  Then DocTo will work. It will not work on Linux.

[2020-01-09 10:53] c2b26 commented on #104
Thanks for your reply!
Now I know the DocTo can't be builded  on Linux.Perhaps you have other new ideas to make DocTo builded on Linux?

[2020-01-09 14:55] #104 closed

[2020-01-10 18:51] mlevison opened #105 "Available via a package manager?"
Is this very clever little tool available via a package manager? Chocolatey?

[2020-01-11 16:08] tobya commented on #105
Not currently, but I'll take a look at Chocolatey.  Or if you or anyone else would like to help with this would be great.

[2020-01-12 20:10] tobya commented on #51
I've recorded a macro for this to look ar the code that is used

[code]

[2020-01-15 00:52] digitalcoyote commented on #105
I'd be willing to create/maintain a package for this project. I'll have a look when I get a moment.

[2020-01-15 13:39] tobya commented on #105
Thank you.  Let me know if you need help. I did take a look.  A package with the .exe included in the package seems to be the simples.

[2020-01-15 15:59] digitalcoyote commented on #105
https://chocolatey.org/packages/docto I've got to await automated review, I can upload the last non-prerelease version (0.9.18) as well.

If you want to be added as a maintainer (allows you to manually push versions, delist dangerous versions, etc) I can add you on Chocolatey. I have this hooked up to my CI so it will automagically update when you release a new version.

[2020-01-15 16:52] tobya commented on #105
Brilliant thanks.

There all pre-release really, but maybe I'll try to do a proper release which can be the base release.  I think you should use the latest release as the only release on Chocolately.  I'd love if you added me as a maintainer, I'll let you know my chocolately user account when I create one.

[2020-01-15 16:53] tobya commented on #105
I just removed the pre-release tag from 1.1 so that solves that issue.

https://github.com/tobya/DocTo/releases/tag/v1.1.24

[2020-01-17 18:01] tobya commented on #105
@digitalcoyote All joined up as tobya

[2020-01-17 20:14] digitalcoyote commented on #105
@tobya added as a Maintainer. 👍

[2020-01-21 20:33] jorgemfm opened #106 "Exiting with Error 400: EOleSysError Access is denied, ProgID: "Word.Application""
Trying to run this throw a Web Application, but I get the error:

`Exiting with Error 400: EOleSysError Access is denied, ProgID: "Word.Application"`

What kind of permissions do I have to configure?

Thank you

[2020-01-23 00:57] mlevison commented on #105
Nice and I have used it. Now to pick a make like tool for building docs :-) I suspect I will use MSBuild because it shouldn't be harder to relearn than make itself.

[2020-01-23 00:57] #105 closed

[2020-01-25 10:14] tobya commented on #106
Hi  - I'm not sure exactly what permissions you will require, but you may need to play around with permissions needed to interact with desktop (since that's what word does)

If you find out post back here.

[2020-01-25 10:14] #106 closed

[2020-01-28 15:29] mlevison commented on #38
Perhaps you could add this to the documentation? I just spent a confusing 10 minutes proving that quite by accident.

[2020-01-28 15:31] tobya commented on #38
Thanks.

Are you saying that this is still an  issue?

Can you provide me with the Version number and the exact command line you used?

[2020-01-28 15:39] mlevison commented on #38
DocTo Version:1.1.24.45.alpha
OfficeApp Version:16

Command line docto.exe --InputFile .\CSM\Material For Attendees\CSM Workbook.docx --OutputFile Staples\CSM

Error Message: *******************************************
Error: EOleException Sorry, we couldn't find your file. Was it moved, renamed, or deleted?-- ("C:\WINDOWS\...\CSM Workbook.docx")

----
When I made the first file absolute, but not

[2020-01-28 15:46] tobya commented on #38
Great Thanks.  Always intrested to see a powershell script!

This was closed because I thought it was fixed.  Will look at it again.

[2020-01-28 15:49] mlevison commented on #38
As it stands this script was designed to be run inside a particular folder. I think I may just pass in the folder as a param.

`# This script must be run inside the "/APR - Training Materials/"

"CSM", "CSPO", "A-CSM" | ForEach-Object {
    $sourceFolder = ".\" + $_ + "\Material For Attendees\"

    $sourceDocument = $sourceFolder + $_ + " Workbook.docx"
    Write-Output $sourceDocument
    # use

[2020-01-29 10:50] tobya commented on #38
Thanks, I'll try and get to it as soon as I can.

[2020-01-29 12:10] mlevison commented on #38
I wouldn't stress I've got a effective work around.

Cheers
Mark

On Wed., Jan. 29, 2020, 5:50 a.m. Toby Allen, <notifications@github.com>
wrote:

[2020-02-01 08:26] tobya opened #108 "Output from -XL and -WD should be basically the same"
when you execute basically the same command, currently the log output is quite differnet.  It should be basically the same

[code]

[2020-02-01 10:02] tobya opened #109 "Ensure all parameters can be listed in any order."
Commands should work in any order.  Create Test bat files that use the parameters in non standard orders.

There is funny issues that happen from parametes that do not require a value.

[2020-02-01 18:26] #108 closed

[2020-02-02 20:33] tobya commented on #38
@mlevison  This is now fixed.  So if you want to download the latest release 1.2 it should be sorted.

If you want to fill in the use you or your company uses docto for, I would be grateful https://github.com/tobya/DocTo/wiki/Uses-of-DocTo-in-the-wild

[2020-02-02 20:33] #38 closed

[2020-02-02 20:37] tobya commented on #105
@digitalcoyote I have release a new version including a fix for #38  and some other minor changes.

If you had time to update Chocolate package that would be great.  If not I'll get to it soon.

[2020-02-02 22:46] digitalcoyote commented on #105
@tobya  I have it hooked up to an AppVeyor project that checks twice daily for updates on any packages hosted in my chocolatey repo. If it finds an updated version, it should push a new version. I updated an Update script so it triggered the CI a few minutes ago. (It won't double publish if you push an update up manually). So if you don't have time, it should publish on it's own within 12 hours.

[2020-02-03 10:54] tobya commented on #105
Wow that's brilliant.  Thank you.  So it will automatically update each time I publish a new release on github?  Brilliant.

[2020-02-03 23:09] mlevison commented on #105
heads up the new package is blocked:
https://chocolatey.org/packages/docto/1.2#testingResults

Cheers
Mark

On Mon, Feb 3, 2020 at 5:54 AM Toby Allen <notifications@github.com> wrote:

--

[image: headshot-square-300x300]
<http://www.flickr.com/photos/36331075@N00/9674877046/> *Mark Levison* | 1
(877) 248-8277 | Twitter <https://twitter.com/mlevison> | LinkedIn
<http://ca.linkedin.com/in/marklevis

[2020-02-04 01:01] digitalcoyote commented on #105
@mlevison The current status is "Ready for Review" until this becomes a trusted package (takes a few versions usually) it will have to go through manual moderation before each new version is listed.

[2020-02-20 13:56] nx10 opened #112 "Newest binary (V1.2) is detected as a Trojan by Microsoft Defender"
The newest binary (V1.2) is detected as a Trojan by Microsoft Defender:

Trojan:Win32/Wacatac.C!ml

V1.1 works fine.

![Screenshot](https://user-images.githubusercontent.com/33600480/74940046-2dde7980-53f1-11ea-9166-191302c02bca.png)

Edit: Weird. Now Version 1.1 is being detected as a different Trojan... (Trojan:Win32/Detplock)

[2020-02-22 10:48] tobya commented on #112
Hi Thanks

No trojan in the code that I compile, but is this the binary downloaded directly from github?

What is the reference to AWS in your screenshot?  does github use AWS?

[2020-02-22 10:53] nx10 commented on #112
Yes I downloaded it directly from GitHub, pretty sure GitHub uses AWS.

[2020-02-22 10:56] tobya commented on #112
hmmm.  Not sure what to do about that then.  It may be because it makes COM calls into MS Word.

Let me know if I can help in any other way.

[2020-02-22 10:58] nx10 commented on #112
Yes probably a false positive. I have never done this myself but it seems you can submit a binary to Microsoft to have it analyzed:

https://www.microsoft.com/en-us/wdsi/filesubmission

[2020-02-22 11:59] tobya commented on #112
Thanks - I've submitted the file.

[2020-02-22 11:59] #112 closed

[2020-02-22 15:41] tobya commented on #112
They said they've removed it from the signature list.

Try this

Analyst comments:

We have removed the detection. Please follow the steps below to clear cached detection and obtain the latest malware definitions.

1. Open command prompt as administrator and change directory to c:\Program Files\Windows Defender
2. Run “MpCmdRun.exe -removedefinitions -dynamicsignatures”
3. Run "MpCmdRun.exe -Signa

[2020-02-29 08:56] tobya commented on #83
I think I will follow this sort of pattern
[code]

[2020-02-29 08:56] tobya commented on #85
Actually they dont

[2020-02-29 08:56] #85 closed

[2020-03-04 14:51] ceugenio opened #113 "DocTo.EXE blocked by Symantec End Point"
![image](https://user-images.githubusercontent.com/15365719/75891377-faa7db80-5e2f-11ea-930b-7f0570e0dc2e.png)

[2020-03-09 08:05] NinjaCross opened #115 "DocTo.EXE blocked by Bitdefender antivirus"
![image](https://user-images.githubusercontent.com/5829421/76193802-17079780-61e5-11ea-808b-b9062557411b.png)

[2020-03-09 08:26] DanielSeges opened #116 "open another word document via explorer while converting"
I want to convert bunch of doc files to pdf. I run docto.exe, and I want to view/open another documents while conversion. I  double click on another word document for opening but with no sucess. MS Word is opened and closed immediately.

[2020-03-11 08:51] tobya commented on #115
Thanks I'll try and submit to them

[2020-03-11 08:55] tobya commented on #116
This is a side effect of the automated control of word.  There is no easy way to ignore user opened files.

Docto is opening and closing documents and relying on the active document being one that has been opened by docto, so it is going to get confused if you open documents manually also.

I think it is best to wait until your conversion job has finished before using word manually

[2020-03-11 08:55] #116 closed

[2020-03-11 09:02] tobya commented on #115
Can you send me the report, with name of what trojan etc it thinks has been detected.

I will then submit the .exe to bitdefender.

Thanks

[2020-03-11 18:55] NinjaCross commented on #115
@tobya I already submitted it to BitDefender :)

[2020-03-12 07:41] DanielSeges commented on #116
I wrote my own doc to pdf convertor and I know about side effects.  I know that it's not easy to handle it. However Docto seems to be in right direction to solve this issiue. For example docto wil not close word documents opened before running docto - which is great...However waiting until conversion job has finished is not solution for me or for my clients...Thanks for your reply, I have to solve

[2020-03-12 08:11] tobya commented on #116
Thanks for the update.

If you provide further information about EXACTLY what is happening and EXACTLY what it is you would like to happen, in as much details as you can provide, I'll see if I can find a simple solution.

I am always will to take a PR also.

Thanks for using DocTo

[2020-03-12 08:11] tobya commented on #115
Brilliant Thanks

[2020-03-12 08:11] #115 closed

[2020-03-13 17:14] megapro17 commented on #113
Same with windows defender

[2020-03-14 18:23] tobya commented on #113
Thank you I have submitted it to these scanners, we'll see what happens.

[2020-03-15 02:21] onlinegill opened #117 "XLS to XLSX ?"
Hello,
can we convert XLS file to XLSX format ? i tried myfile.xlsx" -T xlCSV   and does create myfile.xlsx but not sure its correct idea. when i try -T xXLSX it shows CONFIG ERROR: File Format xlXLSX is invalid, please see help. -h

[2020-03-15 20:24] tobya commented on #117
Thanks for the issue.

`xlXLSX`  is not a valid type try `xlOpenXMLWorkbook` or   `xlWorkbookDefault`

Let me know if it works

[2020-03-15 20:26] tobya commented on #117
Please fill in about your use case if you are willing in the wiki https://github.com/tobya/DocTo/wiki/Uses-of-DocTo-in-the-wild

[2020-03-15 20:30] tobya opened #118 "Improve Help Output"
Should be easy to get

1.  Word Specific Help
1.  XLS Specific Help
1. Format values help for word and excel
1. Additional information on main errors
1. errors should point to speciofic help command if they can.

Eg Invalid type should encoursage user to got to docto -h formats

[2020-03-16 14:00] DanielSeges commented on #116
I have solved this issue, if you are interested, feel free to reach me out

[2020-03-16 15:32] tobya commented on #116
@DanielSeges I would be very interested to know how you solved the issue so others can benefit from this information.

[2020-03-17 08:14] DanielSeges commented on #116
@tobya - OK, shorthly - I have build CRM system which is capable of mass word document generation.
Documents were created and user can perform various tasks:
He/she can print out selected documents, export do local disk/ftp, or convert to pdf...etc
If user start pdf conversion, he/she needs to wait until conversion is finished.
It takes some time obviously, and user want to utilize his time. Conve

[2020-03-17 08:53] tobya commented on #116
Thanks for the info, glad you got it working.

This will be useful for others with the same issue.

[2020-03-28 17:22] elektrotiko commented on #113
Similar happens with F-secure computer protection. Any news?

[2020-03-28 18:11] megapro17 commented on #113
btw older version works fine

[2020-03-28 19:04] elektrotiko commented on #113
Docto had this problem a year ago as well. I pointed this to the author.

[2020-03-30 16:29] tobya commented on #113
That's interestnig thansks

[2020-04-30 12:32] coderafei opened #119 "Will support pptx?"
it will be nice~

[2020-05-01 08:57] tobya commented on #119
Hi @coderafei yes, i actually have a stalled PR that I am planning on merging.  Now that I know there is  an interest I will try to merge.  You can see it here #92

[2020-05-01 08:59] tobya commented on #102
Related to #92

[2020-05-03 09:04] tobya opened #120 "Check ppt File extensions against list"
I based the PP exetensions on a guess as to what matched up with what.  Its probably correct but would be good if someone could check or make comments if it is wrong.

![ScreenHunter_214 03-May-20 09 53](https://user-images.githubusercontent.com/325502/80910108-30c8e500-8d25-11ea-8462-2d4726ac0c0d.jpg)

I'll put a link once pp has been merged. #92

[2020-05-03 10:02] tobya opened #121 "RFC: Enforce -WD / XL / PP in commandline"
When Docto started it only worked with Word.  I then created another exe called XLSTo that had a similar codebase but compiled to a seperate executable that converted XL files.  This led to Docto being developed quite a lot but XLSTo being forgotten about and left out of out date. A few months ago I decided to bring both code bases together into docto with the additiona of a -XL flag for when you

[2020-05-04 18:41] tobya commented on #119
Draft Release available with Powerpoint support, please try it out and provide any feedback.

https://github.com/tobya/DocTo/releases/tag/V1.2PPBeta

[2020-05-05 11:39] #119 closed

[2020-05-17 12:04] cyrduf opened #123 "XLS and PPT conversions to PDF"
Can you give command line documentation to convert XLS/XLSX->PDF and PPT/PPTX->PDF ?
How to force for XLS conversion to PDF to have landscape/portait sheet to be fit in 1 page ?
(often xls sheets columns are splitted on several pages when a print to pdf is made)

[2020-05-18 07:04] tobya commented on #123
Hello

There are lots of examples here

https://github.com/tobya/DocTo/blob/master/pages/all/index.md

and specific

https://github.com/tobya/DocTo/blob/master/pages/all/ConvertXLSToFilePDF.md

the PPT is something like

At the moment there is no way to adjust the fit to 1 page, though I'm happy to take a PR

Thanks for using Docto

[2020-05-18 08:56] cyrduf commented on #123
Thank you.
I will use your help examples.

I will try to understand code if I have time later.

[2020-05-18 12:48] #123 closed

[2020-05-19 07:07] tobya commented on #121
I think eventually I will write code to guess

- .doc, .docx .rtf assume -WD
- .xls, .xlsx , .csv assume -XL
- .ppt .pptx assume -PP

Anything else errors out and requests that an app identifier be used.

[2020-05-21 18:04] whoAmI-cslim opened #124 "Choco install docto producing error, not installing"
When I attempt to install docto via chocolatey, I'm getting the following virus detection and checksum error:

"Unhandled Exception: System.IO.IOException: Operation did not complete successfully because the file contains a virus or potentially unwanted software.

   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.Init(String path, FileMode mode, F

[2020-05-21 18:09] whoAmI-cslim commented on #124
Here is the log output
[docto-error.txt](https://github.com/tobya/DocTo/files/4663999/docto-error.txt)

[2020-05-23 07:47] tobya commented on #124
Thanks.  Best thing to do in the meantime is to download directlry from Releases https://github.com/tobya/DocTo/releases

[2020-05-31 17:34] NikNakk commented on #124
I've had the same issue. But more worryingly, Windows Defender reports this as malware, as do 33/71 scans at VirusTotal. Scanning the URL is fine, but downloading the file and scanning the file reports 33/71 (https://www.virustotal.com/gui/file/291a46bcdaa7306e7dab9230435c798f8cbc5ea60f2e5ef3795005356d2021af/community). I've verified this using a Ubuntu live boot USB stick, so it's not something s

[2020-06-05 06:27] tobya commented on #124
Does that mean someone has put malware in the Choco binary or just that it is being detected as malware?

Maybe I should just delete the choco install?

[2020-06-05 10:14] NikNakk commented on #124
I don’t know. Most antivirus software uses heuristics to determine whether something is malware. However, it’s concerning that multiple tools identify the docto.exe as malware. If you built the executable currently in the v1.2 releases assets, the concern would be whether your build machine has a problem.

[2020-06-17 09:22] kk12837 opened #127 "Update Multi files (Powerpoint)"
Hi,

The os system is Windows Server 2012 R2 Standard

docto version:
DocTo Version:1.2.26.49.b.pp
OfficeApp Version:15
Source: https://github.com/tobya/DocTo/

I ran the following command in windows server. Ant there are 1 powerpoint file in the directory.

C:\Users\eladmin>

C:\Project\nsw\docto.exe -PP -f \\10.100.28.24\nswv\input\pptx\ -O \\10.100.28.24\nswv\output\pptx\ -OX pdf -t ppSaveAsPDF

[2020-06-17 15:48] tobya commented on #127
I'll take alook.  It doesnt seem to be finding files.  It may only be looking for ppt not pptx files.

Can you try with a ppt file and see if it works.
I can update if that is the problem.

Thank you for using docto

[2020-06-18 02:48] kk12837 commented on #127
I tested on the docx dir, it has the same result. It could not find the docx files, but it is able to find doc files.

The os system is Windows Server 2012 R2 Standard

[2020-06-18 09:36] kk12837 commented on #127
xlsx format has the same problem.

Thanks!

[2020-06-18 13:08] tobya opened #128 "If not files found exit with message"
If input is directory and no files are found, output with that info

[2020-06-18 13:34] tobya commented on #127
Thsi should be a fix.  I havent had time to test it, so let me know if it causes problems.

[docto.zip](https://github.com/tobya/DocTo/files/4798878/docto.zip)

[2020-06-20 12:08] achex1986 opened #129 "IIS 10 problem PHP exec, how do I solve the problem?"
Hello everyone, tell me how to solve the problem on IIS 10, in PHP exec command, I have this code
[code]

I get this error, tell me what the problem is, why from the cmd command line conversion works, and from PHP exec does not want to work, shows this error

[code]

[2020-06-20 16:47] tobya commented on #129
Hi @achex1986 .
Can you run the same query from teh comand line?  Does it work.

- Is the error actually lots of ???? or are you hiding it?
- Can you execute with -l 10 to get verbose logging

Really we nee dto see what the error is.

If you get no error when you do it outside php then it is probably to do with user permissions.  Try  using 2 directories that IIS php user has access to.

[2020-06-20 17:21] tobya commented on #127
I have tested this, it should solve your problem.  I have released it as latest verison https://github.com/tobya/DocTo/releases/tag/1.2.29

[2020-06-20 17:23] tobya commented on #129
ohh I see on rereading that the command line works.  I woud think it is a user permissions issue or a quoting issue.

i need to see the error though.

[2020-06-21 07:21] #128 closed

[2020-06-21 07:48] #117 closed

[2020-06-21 08:23] tobya commented on #49
This works with a workaround.  If you double up the `\\` at the begining it works

eg.

note the `\\\\` before myserver.

[2020-06-21 08:23] #49 closed

[2020-06-21 08:34] tobya commented on #67
You can now output to pdf certain pages using these parameters

          Save a range of pages to pdf. Integer/String. If integer --PDF-ToPage must also be set.
          Other values wdExportCurrentPage, wdExportSelection
      --PDF-ToPage
          Save a range of pages to pdf. Integer. --PDF-FromPage must also be set.

[2020-06-21 08:38] #127 closed

[2020-06-21 08:48] gamgamstyle commented on #67
Thank you very much.

[2020-06-21 08:48] #67 closed

[2020-06-21 09:03] #72 closed

[2020-06-21 09:37] NikNakk commented on #124
@tobya  Did you resolve why VirusTotal is reporting this as Malware?

[2020-06-21 09:57] tobya commented on #67
Available in latest release just up now.

[2020-06-21 09:58] tobya commented on #124
No, I'm afraid I dont have the resources to check these.

Is this happening with Choco?

Do you get the same problem if you download from github?

[2020-06-21 11:00] NikNakk commented on #124
Yes, directly from GitHub

1. Download docto.exe from https://github.com/tobya/DocTo/releases/tag/V1.2
2. Upload to https://www.virustotal.com

Similar results are seen with the v1.2PPBeta. For v1.03, only a single antivirus program detects it as possible malware based on a heuristic.

[2020-06-22 01:16] kk12837 commented on #127
It works well! thanks for your help @tobya

[2020-08-03 06:20] kk12837 commented on #127
hi @tobya

I experienced error 220 couple of times.

I need to restart my PC to avoid this error. This error pops up if I converted many pptx, like more than 500 ppt. Then it pops error 220.

Is it normal?

Thanks

Keith

[2020-08-03 07:21] tobya commented on #127
Hi Keith.

Can you log this as a new issue.?  Its most likely that some files are being left open or not properly closed and so over time are causing issues.  It may also be an issue with PPTX as I havent had a similar issue with XLS or Word .  I'll take a l;ook at the code and see if I can see anything that might be causing it.

Do you get any extra information with the 220 error.  Could you try

[2020-08-03 08:22] kk12837 commented on #127
Ok, I will try to log it and open a new ticket. Thanks

[2020-08-04 20:01] camldn opened #134 "Multiple RTF in directory to PDF in another Directory"
I want to try and Convert Multiple RTF to PDF from one Directory to a Sub directory.
Im getting error no file match *.DOC*

different commands ive tried
docto -f C:\converted\ -O "C:\converted\done\" -T wdFormatPDF -OX .pdf
docto -WD -f C:\converted\ -O "C:\converted\done\" -T wdFormatPDF -OX .pdf
docto -fx .rtf C:\converted\ -O "C:\converted\done\" -T wdFormatPDF -OX .pdf

How would one run the c

[2020-08-04 20:18] camldn commented on #134
Another Question, would i be able to make a Bat file that calls the Docto and uses the location of the bat file for the converted files?

IE convert.bat containing  'docto -fx .rtf %~dp0 -O "%~dp0\done" -T wdFormatPDF -OX .pdf'

[2020-08-08 07:55] tobya commented on #134
Hi

Thanks for the issue.  I have a feelign at the moment that docto only works with a directory of .doc or .docx files.  It will work with individual .rtf files.

I'll take a look and do a fix

[2020-08-18 15:49] PatrickMercadal opened #135 "Convert rtf file in pdf"
Hi,

I'm new user with docto and so I try to convert rtf file to pdf. It doesn't work from my end and I have an error in the Windows System Event Viewer.

Impossible de démarrer un serveur DCOM : {000209FF-0000-0000-C000-000000000046}. L’erreur « 2147943712 » s’est produite lors du démarrage de la commande :
C:\Program Files (x86)\Microsoft Office\Root\Office16\WINWORD.EXE /Automation -Embedding

[2020-08-19 06:42] tobya commented on #135
Hi Patrick.  Thank you for using Docto.

Usually if it works from Command line but via PHP it is a permissions issue so you need to modify the user that php runs under to see if you can run docto.

[2020-08-19 09:19] PatrickMercadal commented on #135
Hi Toby,
Thanks for your reply. You want to say it needs to modify user permissions. I displayed the user that php runs under by the php function get_current_user(). It's this user you want to say ? It displayed the name of my machine not a user name (sense Windows).

[2020-08-19 13:09] tobya commented on #135
Yes thats the user you need to check

[2020-08-19 14:31] PatrickMercadal commented on #135
Hi Tobby,
User is system. Regarding the error message in the event view Windows it's for the key {000209FF-0000-0000-C000-000000000046}. So from your point of view I must check all the access rights for this user system for this key in the windows registry ?
Regards,
Patrick

[2020-10-12 14:46] KerimG opened #136 "I created an NPM wrapper around this awesome tool!"
Hi all,

we're currently in need of a tool like this. First thing I did was to check NPM whether there are any decent Word to PDF converters but they all delivered subpar outputs, because they would do stuff like first convert the .docx to .html and then use Phantom.js to turn it into .pdf. After that journey, the documents original layout and looks would be way too broken.

DocTo to the rescue! S

[2020-10-12 18:23] tobya commented on #136
Hi @KerimG

That sounds great and thank you for being so enthusiastic about DocTo

Yes please add it to the wiki and I will put a note about your node wrapper on the readme.

[2020-10-12 18:25] tobya commented on #136
Can you send me the link to the source and I will link to that also

[2020-10-13 07:37] KerimG commented on #136
Hey @tobya,

you can find the github repo here: https://github.com/KerimG/node-DocTo

I will update the readme and some other things later and add it to the wiki then.

Thank you.

[2020-10-13 07:51] j-te opened #137 "Batch converting while maintaining path structure"
Since we 'must' provide a directory for PDF output, could we have a feature where the PDF is saved with the original folder structure rather than it all be chucked in one folder? I can see this being more powerful with a copy of the original folder structure so we still have to provide an output path.

We could create scripts that repeat the commands but it would be nice to do it in one for sake o

[2020-10-14 06:39] #136 closed

[2020-10-14 06:40] tobya commented on #137
That is interesting.  I think that happens already.

I have a script that converts lots and lots of Word documents to .txt files (I know not pdf but that doesnt matter)

[code]

The files are in a 2 deep set of folders

         /12
            /123.doc
           /124.doc
           /125.doc
         /13
           /131.doc
           /132.doc
etc

These are converted to

         /12

[2020-10-17 08:47] chver opened #138 "Unexpected error on a new server"
Hi,
I'm configuring a test server and I get some trouble using docto on this new server.
Windows server 2016 / Office 2007
Command line : C:\Docto\docto.exe -F C:\tmp\ZABC-C0007_DIA3.docx -O C:\Tmp\tmppdf2.pdf -Q -T wdFormatPDF -L 10

This command line works well on the prod server, but returns the following error on the test server :
[20201017 10:36:33 -]: Log Level Set To:10
Loading Configuratio

[2020-10-19 21:40] tobya commented on #138
Unfortunately the first version of Word that allowed saving as a pdf was Version14 so you would need to update Word.

I should probably put in a better Error Message

[2020-10-19 21:40] #138 closed

[2020-10-19 21:40] tobya opened #139 "Provide Better error message when Word does not support PDF Conversion"
#138

[2020-10-19 21:41] tobya commented on #138
Though there is a secret which is that DocTo works perfectly with an unactivated copy of Word

[2020-10-21 13:18] latinofac opened #140 "Convert multiple word docs into one single pdf."
It would be nice to have a functionality of converting multiple documents into one.
Something like:
docto -F inputfile1.docx inputfile2.docx inputfileN.docx -O outputfile.pdf -t wdFormatPDF

[2020-10-21 13:24] latinofac commented on #140
Thank you very much Tobya!
I liked very much your project, mainly because the install and the usage were very easy and simple.
Let me know if you need any help to test new functionalities.
Best regards,Latino
    Em quarta-feira, 21 de outubro de 2020 10:19:24 BRT, github-actions[bot] <notifications@github.com> escreveu:

Thank You for the Issue. I will try to get to look at it as soon as I can.

[2020-10-21 13:50] tobya commented on #140
This is an interesting idea, but I think it may be out of scope of my use of the project, though if you or someone else wished to add it it could be added.

[2020-10-22 12:33] latinofac commented on #140
Hi Toby,
Thank you anyway.I can understand of course.I am not familiar with Delphi, so I am afraid that I won't be able to do it as well.But don't worry, I couldn't find any tool that generates one pdf from many word documents, but I was able to work around the problem merging the pdfs into one using another tool.
But thank you again for your concern.
Best regards,Latino
    Em quarta-feira, 21 de

[2020-10-25 18:46] #137 closed

[2020-10-25 18:47] #129 closed

[2020-10-25 18:47] #135 closed

[2020-10-29 07:57] enrlc0 commented on #138
I just wanna mention, that there is a way to save to pdf from within word 2007. You have to install an AddIn that was originally supplied by MS. I cannot find it on their Website anymore but other trustworthy hosts (chip.de) still offer it for download. Search for "Word 2007 Microsoft Save as PDF or XPS".
The reason why it was not a native word feature in the first place is, that MS did not want t

[2020-10-29 08:35] chver commented on #138
Thanks for your help. Everything works fine !

[2020-10-29 10:41] tobya commented on #138
#141 I'll show in log, but still try to convert.

[2020-11-07 12:46] #140 closed

[2020-11-07 12:48] tobya commented on #98
Couold cache for help but reload if docto -h is specifically called

[2020-11-07 15:29] tobya commented on #134
Actually I looked at this and the -fx option does this

The -fx parameter specifies the file extension you want to load in this case *.rtf (dont include *)

[2020-11-08 07:11] #134 closed

[2020-11-08 07:14] #97 closed

[2020-11-08 07:14] #139 closed

[2020-11-16 05:39] MinaHenein opened #143 "Any commands to convert pdf to .txt? or coming anytime soon?"

[2020-11-17 15:24] tobya commented on #143
Hello @MinaHenein No, that is not possible.  Docto uses Microsoft Word to convert documents.

you will find other converts elsewhere on the web.

[2020-11-17 15:24] #143 closed

[2020-11-20 14:42] FrancilanJr opened #144 "Error when running docTo with nodejs in service."
Error when running docTo with nodejs in service.
I don't know what happens when I use it in the development environment of the error I go up to a windows service and the error, says that it did not find the file or the error in the execution of the spawn.

I use nssm to put nodejs into service.

Error example:

Error: EBUSY: resource busy or locked, open 'C:\filesfrs\Homerico.Net\tempfiles ome.doc

[2020-11-24 17:49] tobya commented on #144
You appear to have a space between the directory and the file, is this intentional.

This is most likely causing the issue.

[2020-11-24 17:49] #144 closed

[2020-11-24 18:28] FrancilanJr commented on #144
The string when sent to the exe by args has no space but the error response returns with that space. When I run the direct converting function in the exe to a bat file it works normally.

[2020-12-28 07:38] a9293340 opened #145 "Error: EOleException export failed and error code:220"
CMD:
`"C:\Users\eric hong.CINOHQ2004\Desktop\example\win-unpacked\resources\app.asar.unpacked\node_modules\node-docto\lib\docto.exe" -f "C:\Users\eric hong.CINOHQ2004\Documents\CINO\iCode\myTemplete.docx" -O "C:\Users\eric hong.CINOHQ2004\Documents\CINO\iCode\myTemplete.pdf" -T wdFormatPDF`

But I get this bug:
![擷取](https://user-images.githubusercontent.com/21338083/103198144-986e1900-4922-11eb-8

[2021-01-01 10:57] tobya commented on #145
Can you please show the out put of

Docto.exe -v

What version of Word are you using? Does the orig document exist?  Also run the conversion with logging  -L 10

Then post the text here.

[2021-01-07 07:44] #145 closed

[2021-01-07 07:45] #124 closed

[2021-01-07 07:45] #113 closed

[2021-01-28 21:53] wildfandango opened #146 "IIS 10 problem PHP shell_exec(), user rights problem....?"
Hello, I have searched a lot about this problem, I have found similar cases but I am not clear about the solution.

CONTEXT

The APP pool for the IIS site is using LocalSystem (nt authority\system)
php executes (shell_exec) a .BAT file with the following command

the result is as follows:

*******************************************
Error: EOleException  El comando no está disponible porque no hay

[2021-01-29 07:07] tobya commented on #146
Thank you for posting the issue.

Can you run from php without it being a .bat file?  There are substantial differntces between running commands directly and throught a .bat file

run the command in php using `exec()`

You may need to play around with " and \" but it should work.  You may also have an issue with the user that php runs under.  You ened to make sure the user can interact with the de

[2021-01-29 07:08] tobya commented on #146
You can find some more info in https://github.com/tobya/DocTo/issues/57

[2021-01-30 18:12] wildfandango commented on #146
I followed your advice along with the indications of [#57](https://github.com/tobya/DocTo/issues/57) (I had already tried it before opening this thread).

I have made the following changes

I no longer call a .CMD file, I call docto.exe directly.
I no longer use shell_exec(), I use exec() directly.

**I receive a different error**

[2021-01-31 18:17] tobya commented on #146
@wildfandango I'm afraid it is not something I can help with since I use https://github.com/caddyserver/caddy as our webserver which works very nicely in this instance.

I think you will find you need to run that php script under a differnte user that has alternative rights. Including Interact with Desktop which word seems to need.  Play around with some options and you might figure it out.  Perha

[2021-02-06 21:26] #146 closed

[2021-02-17 17:33] Sandoun opened #147 "stdout as output option"
Would be nice to have a standard binary outputstream as option :)

[2021-02-18 09:38] tobya commented on #147
im unsure what you mean?  could you explain in more detail?

[2021-02-18 10:12] Sandoun commented on #147
Including a datastream of the outputted document instead of a direct save to your disk, so you can catch the piped output (in your preferred language) directly and manipulate it directly without opening the outputted file manually again

[2021-02-18 10:14] Sandoun commented on #147
Many commandline tools have these options, like ffmpeg where you can pipe the out like -o - and read from the binary stream directly

[2021-02-18 10:17] tobya commented on #147
Oh ok, now I understand.  I could look into that.

[2021-02-18 10:42] tobya commented on #147
note for self: https://stackoverflow.com/questions/46293975/delphi-tokyo-for-linux-stream-file-contents-to-stdout-console-output

[2021-02-20 17:43] tobya opened #148 "-Q still logs"
**Describe the bug**
-Q doesnt make the logging quiet

**To Reproduce**
What code are you calling DocTo from .  Are you using the command line?  Are you calling it from PHP, Ruby, Javascript etc.

Run a conversion with -Q at the end

Logs are output

**Expected behavior**
A clear and concise description of what you expected to happen.

No logging occurs

[2021-02-27 20:20] Fentonz opened #151 "Relative path fail for destination"
**Describe the bug**
Fail when converting relative path to absolute path of the destination directory.

**To Reproduce**
Use relative path in destination when converting a directory (in my case directory contained MS word files).

**Expected behavior**
Relative directory is converted to absolute directory automatically and conversion happens.

**Additional context**
Here is a screenshot with all n

[2021-02-28 10:53] tobya commented on #151
Have you tried with windows path identifier eg '.\' rather than './'

[2021-02-28 19:26] Fentonz commented on #151
I guess you meant '.\' as you showed in the code below. Doing so still produces the same error.

Same error.

One interesting thing i noticed is that when i specify output to be either
`-o "\pdfs"`
or
`-o "/pdfs"`
it says that files were converted, but the converted files are not in the expected directory. Not sure what is happening here. I dont see the converted files anywhere else...
![image](ht

[2021-03-01 07:51] tobya commented on #151
I'll takea look and see whats happening

[2021-03-09 09:16] wojt0 opened #152 "Running the command line from the SSIS task."
Hello,
I ran a couple of tests with the tool and it looks like it is working fine when executed straight from the command line.

Now, I am trying to run the command line as a task in the SSIS scheduler. In theory it should be executed the same way as I would execute via command line. I tried to run this under different accounts, including mine (administrator) but every time I am getting:

[code]

[2021-03-09 10:42] tobya commented on #152
I have had similar problems before with windows. Take a look at #46 and #57 to see if the solutions offered in the thread will work for you. It seems possibly to be a windows permissions issue.

Let me know if you solve the issue.

[2021-03-09 11:53] wojt0 commented on #152
Hi,

It works once the C:\Windows\SysWOW64\config\systemprofile\Desktop folder is created.

Thanks!

[2021-03-09 13:36] #152 closed

[2021-03-09 15:02] tobya commented on #152
https://github.com/tobya/DocTo/wiki/Fixing-user-rights-issues.

[2021-04-26 14:33] lixinaha opened #153 "Exception when convert PPT to PDF"
**Describe the bug**
I use this tool to convert word/ppt to PDF files, but with one PPT file, it will fail sometimes(not everytime).

**To Reproduce**
I call this from Java

**Expected behavior**
The PPT file should be converted to PDF.

**Additional context**
- later
- later
- OS:  Windows Server 2012

here are the error message i got, but they are in Chinese, i'll translate some into English
pro

[2021-04-28 10:21] tobya commented on #153
Thanks for the issue.

This looks like a Powerpoint issue to me or a COM issue so I'm not sure what I would be able to do to fix it.  Good to be aware however.

[2021-04-28 10:21] #153 closed

[2021-04-30 13:16] kedarbhise commented on #151
I encountered the same issue when trying to use relative paths:

Command Line:
`D:\Draft\Policies>docto -f ".\" -O "..\..\Published\Policies" -T wdFormatPDF  -OX .pdf`

Output:
[code]

The tool works correctly when the full path for destination is provided.

[2021-04-30 13:42] tobya commented on #151
Thanks @kedarbhise Could you confirm what version you are using

[2021-05-02 11:17] kedarbhise commented on #151
V1.3 21 Jun 2020

[2021-05-02 11:24] kedarbhise commented on #151
I ended up using the fully qualified path and the results are positive.

Adding a "\" at the beginning of the relative path for -O made no difference, and I see the same error as before:
Command Line:
`D:\Draft\Policies>docto -f ".\" -O "\..\..\Published\Policies" -T wdFormatPDF -OX .pdf`

Output:

[code]

[2021-05-13 18:59] zaphod69 opened #154 "Add Visio to supported applications"
Can Visio be added to the applications this tool support ?

[2021-05-13 20:38] tobya commented on #154
Probably yes, I dont have a version of visio available to test on at the moment, but there shouldnt be an issue.

I'll see if I get some time to add Visio

Could you provide some example visio documents to test on?

[2021-05-28 17:26] brrd opened #155 "`--encoding` is not working when exporting to HTML"
First of all, thank you very much for this very useful program.

**Describe the bug**
When exporting a document to HTML with the `--encoding` option, the output file is always in encoded in windows-1252.

This issue looks like this one (someone suggested an answer, but I don't know if it's relevant here): https://stackoverflow.com/q/34026716

**To Reproduce**
Here with UTF-8:

[code]

The same beh

[2021-05-29 07:13] tobya commented on #155
@brrd Thanks for the thumbs up - always appreciated.

This is really to do with Word.  I did a quick search and couldnt find anything specifically about this issue.  --encoding seems affect the codepage but as you have found out may not change how the conversion to html happens.

I'll have a look.

[2021-05-29 14:16] brrd commented on #155
Thanks for your quick answer!

I tried to convert from .doc and .docx to html and I get exactly the same result: file encoded in windows 1252 and:

[code]

I hope that it will possible to fix this. I will work in windows-1252 encoding until then.

Do not hesitate if you need any other information.

[2021-05-29 19:08] tobya commented on #155
I dont seem to be able to recreate this, when I save documents with docto

when I do
[code]
or
[code]

Both of them create a word doc with

[code]

So i think perhaps it is more to do (in the first instance) with settings in word that I'm not overwriting, but I need to know what setting to override.

Can you watch this video and tell me what setting your word has.

https://vimeo.com/556655462/b46c

[2021-05-30 08:05] brrd commented on #155
Your intuition was right, my default export setting was not unicode:

![image](https://user-images.githubusercontent.com/7335302/120096765-986e8100-c12d-11eb-9256-6acbd47b233d.png)

I tried to run docTo again after switching this setting it to "Unicode":

[code]

(I tried both)

But I always get the same result:

[code]

[2021-05-30 08:12] brrd commented on #155
Finally I could make it work by checking the box "Always save in default encoding" with "Unicode" selected.

![image](https://user-images.githubusercontent.com/7335302/120097163-462e5f80-c12f-11eb-9278-5a69eef211af.png)

When running docTo again (same commands as above) I could get the expected encoding:

[code]

[2021-05-31 06:24] tobya commented on #155
ill play around with some setings and see what i can do

[2021-05-31 06:54] tobya commented on #155
I think I have found it.  Seems there is a web encodign as well as a standard encoding .

Please find .zip attached iwth updated binary.  let me know if it works and I'll merge to main.[
[docto.zip](https://github.com/tobya/DocTo/files/6568338/docto.zip)
](url)

[2021-05-31 09:39] brrd commented on #155
I can confirm this is working perfectly with this new version!

When running this:

[code]

than the output contains as expected:

[code]

with proper UTF-8 encoding.

When running the same command without `-E`, the default encoding is used, which I think is a good behavior.

Thank you very much @tobya for fixing this and for your great reactivity!

(You maybe want to keep this issue open until th

[2021-05-31 09:48] tobya commented on #155
Great, I'll merge into next release.

[2021-05-31 19:10] tobya commented on #155
Pushed to release. https://github.com/tobya/DocTo/releases/tag/V1.04

[2021-06-01 07:48] #155 closed

[2021-06-01 07:49] tobya commented on #147
released in 1.04

[2021-06-01 07:49] #147 closed

[2021-06-30 09:13] tyf2018 opened #156 "Using "wdFormatUnicodeText", the converted txt is still in ANSI format."
**Describe the bug**
Using "wdFormatUnicodeText", the converted txt is still in ANSI format.

**To Reproduce**
I am using Total Commander and calling the em command for batch operations, the command code is：
[code]

**Expected behavior**
The converted txt file should be in UTF-8 format

**Additional context**
- Please run the command with `-L 10` to provide verbose logging and paste that into your

[2021-07-01 11:17] tyf2018 opened #157 "Bug：When docx converts to PDF, there will be an extra horizontal line at the top of the page"
**Describe the bug**
When docx converts to PDF, there will be an extra horizontal line at the top of the page, which is not what I want. As shown below:
![C_2021 07 01_19 15 18](https://user-images.githubusercontent.com/56342788/124115863-de0dc900-daa0-11eb-99ae-ded62f5ed8eb.jpg)

**To Reproduce**
This is the test file
[Test2021-07-01.docx](https://github.com/tobya/DocTo/files/6747681/Test2021-07-

[2021-07-02 06:44] tobya commented on #157
Hello Thank you for your bug report.  The conversion code is all to do with Microsoft Word, so any problem with how the conversion is done (and I'm unsure what the issue is here) is a problem with word which  I dont have anycontrol over. Thanks

[2021-07-02 06:44] #157 closed

[2021-07-02 06:47] tobya commented on #156
hmm.  This may be an encoding issue.  i'll take a look

[2021-07-16 09:01] wangxi83 opened #158 "Need comment in PDF"
when I use "wdFormatPDF" to convert a doc to pdf, it lose "comment" in the pdf document, but works fine if use "wdFormatFilteredHTML".

I tried convert the doc use word software's "save as..", it works fine.

Is there any args could control the behavior?

need help!

[2021-07-16 09:51] tobya commented on #158
Thank you

When you say

Did you save as pdf?

[2021-07-16 09:55] tobya commented on #158
If you record a macro while you are saving pdf with comments and send me the macro vba code I can look at what options I need to set.  If thats' not possible, I'll try to look into it when I get achance.

[2021-07-16 15:07] wangxi83 commented on #158
yes. I open a doc/docx in word2016/2019, and save as pdf.

[2021-07-16 15:16] wangxi83 commented on #158
[code]

and here is my file of testing

[this is a test.docx](https://github.com/tobya/DocTo/files/6831660/this.is.a.test.docx)
[this is a test--out.pdf](https://github.com/tobya/DocTo/files/6831659/this.is.a.test.pdf)

[2021-07-16 17:29] tobya commented on #158
Great thanks - I’ll take a look

On Fri 16 Jul 2021 at 16:17, wangxi ***@***.***> wrote:

--
Toby Allen
Ballymaloe Cookery School
Shanagarry, Co Cork P25 R274 Ireland
+353 87 6205825
Check out our new Subscription Service
https://ballymaloecookeryschool.online

[2021-07-17 18:43] tobya commented on #158
I would think it is this line

my default is

I'll allow it to be provided and see if it works

[2021-07-18 07:42] tobya opened #159 "Implement remaining parameters for ExportasFixedFormat"
For output to pdf or XPS obviously any alternatives must be present in ExportasFixedFormat on this page

https://docs.microsoft.com/en-us/office/vba/api/word.document.exportasfixedformat

Most recently implemented ExportMarkup.

If all these were implemented could fix a lot of issues

[2021-07-18 08:13] tobya commented on #158
I have fixed this now in dev branch.  Exe here.  Can you please confirm it fixes and I'll merge iwth other code @wangxi83

You need this commandline

[code]

[docto105.zip](https://github.com/tobya/DocTo/files/6835859/docto105.zip)

[2021-07-18 08:14] tobya commented on #158
Also if you get a chance, would be great if you could add your usecase to

https://github.com/tobya/DocTo/wiki/Uses-of-DocTo-in-the-wild

[2021-07-18 08:21] tobya commented on #158
https://github.com/tobya/DocTo/blob/fixissuepdfcomments/pages/all/CommentsFromWordWordCommentspdf.md

[2021-07-19 03:08] wangxi83 commented on #158
I've already added it~!

[2021-07-19 03:12] wangxi83 commented on #158
confirmed !
working fine!

[2021-07-19 03:12] #158 closed

[2021-07-19 03:13] wangxi83 commented on #158
clear

[2021-07-26 06:53] tobya commented on #151
I think this issue is fixed in 1.4/1.5 if you download the latest release it should work.

If not please let me know and I will try and track down the issue.

Release https://github.com/tobya/DocTo/releases/tag/V1.5

[2021-07-26 08:52] kedarbhise commented on #151
@tobya Tried this with version 1.5.

Some progress - the tool now creates the destination folder, but fails during the file convert.

[code]

[2021-07-27 07:23] tobya commented on #151
Thanks for your info.

I have NOW fixed this i think!

You can download here and it will be in next release.

[docto.zip](https://github.com/tobya/DocTo/files/6883489/docto.zip)

[2021-07-28 11:18] kedarbhise commented on #151
@tobya

Thanks for the quick turnaround.

I tested it using the zip file linked in your previous comment, and it is working correctly.

The tool created the target directory in the correct place, and all the output files are created in the correct target folder.

I am happy with the result.

[2021-08-13 18:46] aggies99 opened #162 "Suppress dialog for review comments"
To continue to make the program not require user interaction, need to suppress the warning "The document being saved contains comments. Continue with save?"

[2021-08-16 11:35] tobya commented on #162
If you can find out what setting in Word prevents this dialog from being shown i can try to implement it.

[2021-08-16 12:17] aggies99 commented on #162
I found this page that has some code examples and settings. They seem to make sense for what I am expecting.
https://stackoverflow.com/questions/5083220/how-to-disable-the-document-being-saved-contains-tracked-changes-word-dialog-u

[2021-08-16 13:04] tobya commented on #162
Great thanks, I'll see if I can make it work.

[2021-08-17 18:01] tobya commented on #162
Could you send me a document that triggers the issue? @aggies99

[2021-08-17 19:31] aggies99 commented on #162
[Testfile.docx](https://github.com/tobya/DocTo/files/7002558/Testfile.docx)

[2021-08-17 20:55] tobya commented on #162
Seems if you set this off on the word level you wont get a prompt dialog from docto.

Word Options->Trust Center->Privacy Options->Uncheck "Warn before printing, saving or sending a file that contains tracked changes or comments"

Do you specifically need it to be unchecked by docto or can you just set it in word on the machine you are running docto on?

[2021-08-17 21:01] aggies99 commented on #162
I  noticed that is a possibility. We do run many of our scripts locally so
in that case, it would be nice to not have to turn it off for the user.
However, we might for the build machine. I will need to check with the rest
of the team to see what they think.

On Tue, Aug 17, 2021 at 3:55 PM Toby Allen ***@***.***> wrote:

[2021-08-19 19:20] aggies99 commented on #162
I did try to update this setting on my personal computer and I am still getting the warning. I am not sure what is going on yet.

[2021-08-20 06:56] tobya commented on #162
I have implemented it here, but I think I migth do it differntly in the production code.

This switches off setting , converts the file and switches setting back to how it was.

[docto1-5-b.zip](https://github.com/tobya/DocTo/files/7019648/docto1-5-b.zip)

[2021-08-20 12:58] aggies99 commented on #162
Quick testing shows success! Thank you for implementing this quickly. To be clear with requirements as you make this production-ready, I would expect that my personal setting is unchanged after the docto application finishes running. If it is set to true when starting, it is still true when done.

[2021-09-16 08:15] rom11rom opened #163 "Parameter for recursivity"
First, thanks for this amazong tools. I'm saving so much time thanks to it.

However, it keep converting files in sub directories. Is there a parameter to stop this behavior and only work in the current directory ?
Or I'm using a wrong command line ?

docto -f "c:\..." -o "c:\...." -t wdFormatPDF -OX .pdf

[2021-09-18 13:24] rom11rom opened #164 "path with "-" caracter"
**Describe the bug**
command line : docto -f %1 -o %cd% -t wdFormatPDF
error message "CONFIG ERROR: Unknown Switch or Parameter at index 5:-" when using a path with symbol "-" in it.

*Version**
docto.exe -v
DocTo Version:1.5.34
OfficeApp Version:16
Source: https://github.com/tobya/DocTo/

I would really appreciate if this could be fixed :)

[2021-09-18 19:19] #164 closed

[2021-09-18 19:20] rom11rom commented on #164
found the issue myself.
It was a problem from my batch file, not from your soft.

[2021-09-21 06:18] tobya commented on #163
Thanks for the issue.  Currently there is no parameter to prevent this, I will look at it.

[2021-09-21 06:19] tobya commented on #164
Thanks for the update.

[2021-10-19 03:02] Honghe opened #165 "At "Multiple Files and Folders" mode, it stopped at Word's `Show repairs` dialog."
**Describe the bug**

At "Multiple Files and Folders" mode, it stopped at the following pic, even though running with `--halterror False`.
![image](https://user-images.githubusercontent.com/1092722/137836716-1c0c1d3f-6464-43c1-8a0b-c00de8666876.png)

**To Reproduce**

[code]

**Expected behavior**

If there is a problem with some docs, it can skip/pass the docs.

**Additional context**
- Please ru

[2021-10-19 07:13] tobya commented on #165
Hi
If Word wants to pop up dialogs, unforutnatley there isnt much that DocTo can do about it.  In some instances it is possible to set a value somewhere that prevents the pop up but its not always clear where.  if you can find the setting i can look at adding it.

Can you send me a word document that triggers this issue for testing.

[2021-10-19 07:54] tobya commented on #165
Thanks, that's very useful.

I'll try to get a chance to use that instead.

[2021-10-31 22:00] hrst opened #166 "Support for Office 2021"
Thanks a lot for this very interesting project! I'm planning to set up a Windows Server for converting DOCX to PDF and wanted to ask whether the new Word from Office 2021 is supported as well? It was just released so I'm wondering whether anyone has tried this out yet. Thanks for any help!

[2021-11-01 13:30] tobya commented on #166
I don't see why not. Microsoft is very good at ensuring backwards compatibility

I don't have a copy so can't check.

[2021-11-01 13:31] #166 closed

[2021-11-17 17:46] hrst opened #167 "Allow saving to PDF/A"
Idea for a future version: adding a parameter for saving as PDF/A.

As far as I understood, this could be achieved by allowing to set the following parameter to True:
https://github.com/tobya/DocTo/blob/cc8fb8e9f1a91d7eb3937851043e789f23b46f27/src/WordUtils.pas#L238

This would be highly appreciated!

[2021-11-18 12:11] tobya commented on #167
ok thanks.

What does PDF/A stand for>?

[2021-11-18 17:15] hrst commented on #167
@tobya [PDF/A](https://en.wikipedia.org/wiki/PDF/A) is basically a standardized version of PDF and especially interesting when using PDF for archiving purposes. For example, the font (subsets) used in the PDF are embedded into the document, which means it is displayed correctly even if the font is not installed on the system.

The "official" name for the PDF/A standard is ISO 19005-1, hence this n

[2021-11-19 06:48] tobya commented on #167
ok thanks, I'll add it the next release

[2021-12-02 14:52] zaphod69 commented on #154
Sorry for the delay in getting this to you, I've attached a zip file with a sample Vision diagram.

[payslips.zip](https://github.com/tobya/DocTo/files/7642843/payslips.zip)

[2021-12-02 20:42] tobya commented on #162
This is fixed in #168

[2021-12-02 20:43] #162 closed

[2021-12-02 20:47] tobya commented on #44
I'm going to presume this is fixed, but feel free to reopen

[2021-12-02 20:47] #44 closed

[2021-12-02 20:47] #30 closed

[2021-12-02 20:52] #151 closed

[2021-12-02 20:52] tobya commented on #151
@kedarbhise This will be in the V1.6 release, coming today or tomorrow

[2021-12-02 22:22] #19 closed

[2021-12-02 22:28] tobya commented on #148
Seems to do fine now fixed

[2021-12-02 22:28] #148 closed

[2021-12-02 22:28] #21 closed

[2021-12-03 15:12] tobya opened #171 "Clarify Do not overwrite"
Do not overwrite is a bit confusing, see what it does and clarify

[code]
also should simplify parameter

[code]

[2021-12-03 20:15] #165 closed

[2021-12-03 20:37] tobya commented on #102
Very simple change to error output , specify that word is being used.  This indecated that thats where the issue may lie

[2021-12-03 20:37] #102 closed

[2021-12-03 21:30] #88 closed

[2021-12-03 21:31] tobya commented on #163
Fixed in main

[2021-12-03 21:31] #163 closed

[2021-12-03 21:32] tobya commented on #163
@rom11rom This will be in the next release 1.6 in the next couple of days

[2021-12-03 21:47] tobya commented on #121
Improved a little by #102 fix

[2021-12-03 21:48] #121 closed

[2021-12-03 21:50] tobya commented on #171
or with my new way

[code]

[2021-12-04 03:10] kedarbhise commented on #151
Thanks @tobya

Looking forward to the new release.

[2021-12-04 07:31] #171 closed

[2021-12-04 07:41] tobya commented on #167
This will be in the next release v1.6 which should be out this weekend. @hrst

[2021-12-04 07:51] #167 closed

[2021-12-04 08:30] #98 closed

[2021-12-04 12:28] tobya opened #172 "No value Paramus need to dec param counter"
New Paramus in 1.6 did not dec iparam

Update needed

[2021-12-04 16:13] #172 closed

[2021-12-06 12:15] tobya commented on #154
Thanks, I'll take a look when I can. I'll try to add to V1.8

[2021-12-06 21:29] rom11rom commented on #163
Hi Tobya

Thank you so much for implementing my request, it works very well.

You're doing a greatt ob

[2021-12-08 12:46] zain84 opened #173 "under windows server 2016 64-bit raise error 0xc0000005"
DocTo  Version 1.5.34
under windows server 2016 +4-bit while try to run the program its give me this alert message ,  " application was unable to start correctly 0xc0000005 " ,  any help for this issue .

[2021-12-09 08:41] tobya commented on #173
This is more than likely an issue to do with your installation of Word.

can you give me details of the command you wnat to run and run it with -L 10

[2021-12-10 10:52] #173 closed

[2021-12-10 10:52] tobya commented on #173
Feel free to reopen with more info

[2021-12-11 09:09] tobya commented on #154
I've looked at this.  Visio is a bit differnt to the other apps.  What formats do you want to be able to conver to? pdf or other formats.    PDF is easy others are a bit more convoluted for some reason.

[2021-12-11 19:51] tobya commented on #154
@zaphod69 I had added this in a basic fashion. Docto.exe will output .pdf or .xps

[code]

you can use

- visFixedFormatpdf
- visFixedFormatxps

I will link to a download for .exe

[2021-12-20 10:49] luigipavan opened #175 "error 400 when invoking docTo from IIS/.NET"
Hi,
I'm getting an error when invoking docTo.exe from IIS.
The same command invoked directly works without any problem.
The executable is hosted in a dedicated directory inside the website stuff.

Here's my log:
[DEBUG]  Log Level Set To:10
Loading ChooseConverter...
Parameter Count is 8
Converter:MS Word
[DEBUG]  Log Level Set To:10
[INFO]   Loading Configuration...
[DEBUG]  Parameter Count is 8

[2021-12-23 16:55] tobya commented on #175
Try these issues.  There is a solution.  the user needs to have rights to allow word to interact with desktop

- #106
- #35

[2021-12-23 17:02] tobya commented on #175
This has all sorts of causes, mainly to do with the rights of the user.  The user that is executing docto for iis will need to have rights to run word and interact with desktop.  Perhaps see if you can find out what permissions are required for IIS to call COM objects.  Let me know if you find a solution.

Some previous issue that might be helpful.
- #57

[2021-12-24 07:53] #175 closed

[2022-02-08 16:45] hrst opened #176 "[Feature Idea/Request] Allow printing to printer"
It would be awesome to be able to specify a printer and have DocTo use that printer. My usage scenario is that I have to use a specific PDF printer to generate the PDF.

[2022-02-09 12:40] tobya commented on #176
hmmm.  I can look at whether or not this is feasible.  I'm not sure it is.

Word is doing a conversion as an export and not via printing so it is a different process.

In your use case do you need the PDF to be generated to a specific printer or do you need your word document to be printed to a specific printer?

[2022-02-09 16:56] tobya commented on #176
Ok,  I think this is outside the remit of the project, but I'll take a look.

if you do any programming you could probably write a simple script to print out files with your printer driver

vba lets you automate anything with work.

https://docs.microsoft.com/en-us/office/vba/api/word.application.printout

[2022-02-09 16:56] #176 closed

[2022-02-14 19:14] #154 closed

[2022-02-19 22:03] hrst opened #177 "[Feature Idea] Allow setting of WdExportOptimizeFor"
Could you maybe kindly add a parameter for the[ WdExportOptimizeFor](https://docs.microsoft.com/en-us/office/vba/api/word.wdexportoptimizefor) flag? This would allow to choose between the two options wdExportOptimizeForOnScreen and wdExportOptimizeForPrint.

[2022-02-20 08:23] tobya commented on #177
I'll take a look

[2022-02-20 18:11] tobya opened #178 "Chagen name of Encoding Variable"
Encodeing variable is called wdEncoding, this looks like a constant name, so change the name of the variable

https://github.com/tobya/DocTo/blob/f97340316b9b276410ceb696abe4be9ba57bdbc3/src/WordUtils.pas#L219-L221

At the same time provide some comments as to why weboptions.encoding is set as part of this.

[2022-02-20 18:20] tobya commented on #177
I implemented it.  I'll include it in the next release.  I was planning on implementing the remaining parameters on the ExportAsFixedFormat function call anyway so this pushed me on.

I have attached a zip with an upated build if you want to try it out.

I tested it and it produced 2 differnt sized pdf from a complex .docx so I presume its working.  Any feedback would be great.

if you havent alre

[2022-02-20 18:21] tobya commented on #177
[docto.zip](https://github.com/tobya/DocTo/files/8104653/docto.zip)

[2022-02-20 18:26] #177 closed

[2022-02-20 19:11] tobya commented on #159
Fixed in

- #180
-  #179

[2022-02-20 19:50] tobya commented on #159
Last one implemented will be released in V1.8

[2022-02-20 19:50] #159 closed

[2022-02-20 21:07] tobya opened #185 "add --inputfolder as an alias for --inputfile"

[2022-02-22 15:43] #178 closed

[2022-03-13 01:56] zsleo01 opened #186 "Convert DOC to DOCX fails"
converting a DOC to DOCX fails. I have the latest version of Office installed

Here is the console output.

D:\apps\Test>docto -f "d:\temp\docs\Automating Office.doc" -O "D:\temp\docs\Automating Office.docx" -T wdFormatOpenDocumentText
[INFO]   FileToConvert:d:\temp\docs\Automating Office.doc
[INFO]   OutputFile:D:\temp\docs\Automating Office.docx
[INFO]   Ext23
***********************************

[2022-03-13 14:08] tobya commented on #186
I'm unsure but this maybe because you have chosen the wrong file type for docx.

Perhpas try this

The `-c` is important as this tells word to save with the hightest compatibilyt for the version of word you have.

Otherwise try wdFormatStrictOpenXMLDocument might be an option.

I've never seen that error before so I'll try and find out more.

Let me know if you solve the issue with the above ideas

[2022-03-13 14:10] tobya commented on #186
Actually as per https://stackoverflow.com/questions/39166746/word-vba-saveas-error-incompatible-file-type-and-file-extension

There is a suggestion that docx is actually wdFormatXMLDocument  so perhaps try that also

[2022-04-01 14:17] chross opened #188 "ppSaveAsPDF thows error"
Hi!
When converting a pptx file, I'll get the following error
`CONFIG ERROR: File Format ppSaveAsPDF is an invalid Word file extension , please see help. -h`

My command line:
`D:\docto\docto.exe -F D:\temp\95bd6f75528c0b64be1eebb6fede52d974702009.pptx -O D:\temp\ -T ppSaveAsPDF -R true`

I have already tried the -T 32 option, but this file extension is not found
`CONFIG ERROR: File Format 32 is i

[2022-04-01 14:32] chross commented on #188
My bad! I was missing the -PP and -XL options for Powerpoint and Excel.
However, the file extension .32 for PPTX is a bit strange, when converting to PDF, could this somehow be changed?

[2022-04-03 15:42] tobya commented on #188
Thanks for solving it.

Can you log the .32 issue as a seperate bug.  I will fix it.

As a work around you can use -ox .pdf which should work.  This sets the output extension when using an output dir

If that doesnt work you can set the full output filename including .pdf which should work.

[2022-04-03 15:42] #188 closed

[2022-04-06 05:34] tobya opened #189 "[1.16] Provide correct file ext for .ppt files"
My bad! I was missing the -PP and -XL options for Powerpoint and Excel.
However, the file extension .32 for PPTX is a bit strange, when converting to PDF, could this somehow be changed?

_Originally posted by @chross in https://github.com/tobya/DocTo/issues/188#issuecomment-1085977631_

[2022-04-14 20:49] mrflusha opened #191 "'Multiple Files and Folders' If file opened in word convert temporary files"
**Describe the bug**
If file opened in word convert temporary files

**To Reproduce**
1. open files in folder with .doc

2. run shell `docto -f "C:\Dir with Spaces\FilesToConvert\" -O "C:\DirToOutput" -T wdFormatPDF  -OX .pdf`
**Actual result**
![temp](https://user-images.githubusercontent.com/46491304/163472801-b422cd23-605b-47bf-94cb-c09c2ea4d670.png)
Temp files converted
**Expected behavior**
F

[2022-04-15 06:43] tobya commented on #191
Thank you.  Can you please run it again with -v at the end for verbose logout put and post the entire log

Do you mean that you have the file open in word when docto is trying to convert the file also?

If so what do you think should be the correct behaviour when this h appens?

[2022-04-15 21:18] mrflusha commented on #191
Sorry for my worst English.
So I will can make this after monday.
But I mean what, we know temporary .doc files if them opened star from char '~' and we can delete it after convertation. So and may be don't convert it. if files start from '~': pass.
Weary ty for that utility this is best from all. But that bug,  just a bug. Need to fix it or notnot, your decide. i just noticed this, and report it.

[2022-04-16 07:21] tobya commented on #191
Sorry I got confused, -v will not work , you must us -L 10

This will do verbose logging

[2022-04-19 19:28] mrflusha commented on #191
idk. but temp files created if MSWORD open any file. If not opened in new folder convert with out '~*'
some log unlikely to help for your....

config:
Word_20220419=12
![path_free](https://user-images.githubusercontent.com/46491304/164077983-8fbf585c-aae0-4d92-9d73-f0a324a94312.png)
![path_free2](https://user-images.githubusercontent.com/46491304/164077986-df93601d-2a05-49b6-9d38-b5558dfd7f53.png)

[2022-04-20 06:47] tobya commented on #191
Ok, Thanks, I'll take a look

[2022-04-25 13:59] njz3 opened #192 "Ability to convert a sheet or a group of sheets from an Excel file"
Feature request: convert only a single sheet, or a group of sheets in an excel file.
For exemple, given a file with 3 sheets (tabs): Sheet1, Sheet2, Sheet3, being able to convert/print only a given sheet to a PDF, or print a selection of sheets.

[2022-04-25 15:16] tobya commented on #192
Thanks for taking the time to log the request.

I'll look at it.  If you found the VBA method to make this happen it would speed up progress.

[2022-04-25 15:19] njz3 commented on #192
I guess it is this VB function:
https://docs.microsoft.com/en-us/office/vba/api/excel.sheets.printout

[2022-04-26 20:32] tobya commented on #192
Seems by selecting the sheet first you can output only that sheet

[code]

I'll try and do it when i can

[2022-05-15 10:37] #186 closed

[2022-05-15 10:37] #109 closed

[2022-05-15 10:38] #83 closed

[2022-05-15 10:38] #156 closed

[2022-05-15 10:39] #5 closed

[2022-05-15 10:39] tobya commented on #80
this is #192

[2022-05-15 10:39] #80 closed

[2022-05-24 14:24] hade94 opened #193 "Disable all alerts"
**Describe the bug**
After converting a .docx to pdf this alert shows up. The process does not finish until i close the popup.  This seems like the file is using some kind of office 365 template and it is trying to authenticate against the corperate sharepoint online. The file is converted successfully after not logging in.

**Expected behavior**
There should be an option to disable all alers like

[2022-05-24 21:03] tobya commented on #193
It was always a function of word that it popped up alerts.  I had never been able to figure out how to avoid this.

I will check out displayalerts = false and see if that fixes the issue.  Thanks for finding it.

[2022-05-25 19:00] hade94 commented on #193
Hi Tobya,

i've tested this behavior in a quick and dirty vbs script with the word com api.

Unfortunately this doesnt solve the problem. I've moved to libreoffice to convert docx and xlsx to pdf.

Works like charm but without the hassle of word and the windows requirement.

Thanks anyway

[2022-05-26 06:34] tobya commented on #193
Thanks for the details.

[2022-05-26 06:34] #193 closed

[2022-06-20 10:30] PierreTav opened #194 "Some images does not appear in the pdf file"
Hello,

Here is a .docx sample to reproduce the problem :
[Ticket 700.docx](https://github.com/tobya/DocTo/files/8939783/Ticket.700.docx)
.

The problem does not appear if you open and print de document using "Microsoft Print to PDF" printer.

Have a good day.

Pierre

[2022-06-20 11:53] PierreTav commented on #194
When i use : File>Save as>More options>select Type : PDF (*.pdf)>Save
Images appears in the pdf file

[2022-06-20 11:56] tobya commented on #194
Ok thanks I'll take a look, could you upload the pdf with the msising images as well as the docx.

[2022-06-20 11:57] PierreTav commented on #194
Yes, thank you ! Here it is :
[Ticket 700.pdf](https://github.com/tobya/DocTo/files/8940345/Ticket.700.pdf)

[2022-06-20 12:01] tobya commented on #194
Ok thanks.  It's not obvious to me why this should be happening, but I'll take a look.

Can you share the command line you use to generate the pdf?  Perhaps it might be an issue with a compatibility setting or format.

[2022-06-23 06:59] PierreTav commented on #194
Hello Tobya,

Did you find something ?

Have a good day,

[2022-06-24 11:23] tobya commented on #194
Can you please let me know the details from

docto -v

I need to know the verison you are using.

What version of Word are you using

[2022-06-24 15:25] PierreTav commented on #194
Here it is :
DocTo Version:1.7.36
OfficeApp Version:16
Source: https://github.com/tobya/DocTo/

Word : Version 2205 (build 15225.20288)

[2022-06-29 15:17] PierreTav commented on #194
Hello Tobya,

Have you got something ?

Have a nice day,

[2022-06-29 15:21] tobya commented on #194
Hello Pierre,  No I'm afraid I do not have time at the moment to look at this, I will let you know when I get some time to look.  In the meantime perhaps you may need to find an alternative solution.  Thank you for trying out DocTo

[2022-06-29 15:28] PierreTav commented on #194
Ok i will try to find another.
DocTo is really good and was working really nicely until this problem appears a few weeks later.
Before changing solution i will try to figure out what's happening.
i tell you if i find an explanation.
Thank you,

[2022-06-29 15:30] tobya commented on #194
@PierreTav

I just tried it on a server I have with Word Version 15 (2013) INSTALLed and it worked fine, so it must be an issue with user permissions / Network etc or Word version 16

Here is the pdf I generated  which seems to have all the images.

[Ticket.700.pdf](https://github.com/tobya/DocTo/files/9011906/Ticket.700.pdf)

Thanks again for trying out DocTo.

[2022-06-29 15:30] #194 closed

[2022-06-29 15:42] PierreTav commented on #194
Running from command prompt.
So the problem probably comes from the new version of Word. I will install an older version and try it.
Don't think it's a permission problem because :
- The problem occur on two differents machines
- Running the command prompt in admin mode don't change anything

[2022-06-29 21:17] tobya commented on #194
If you were willing to leave a note about what you or your company is using DocTo for in the wiki, that would be great, thanks.

https://github.com/tobya/DocTo/wiki/Uses-of-DocTo-in-the-wild

[2022-06-30 08:27] tobya opened #195 "Macro execution on startup"
### Discussed in https://github.com/tobya/DocTo/discussions/190

By default Autoexec seems to run.

Try to switch off with

[2022-07-01 07:53] PierreTav commented on #194
_If you were willing to leave a note about what you or your company is using DocTo for in the wiki, that would be great, thanks._
Done

[2022-08-24 07:52] tobya opened #197 "Filename wildcard"
### Discussed in https://github.com/tobya/DocTo/discussions/196

<div type='discussions-op-text'>

<sup>Originally posted by **gluizpessin** August 23, 2022</sup>
Is there a way to utilize wildcards like * and ? in order to batch convert files? </div>

[2022-09-03 16:08] klaegera opened #199 "Release new Parameters"
Hi!

Love this project. It makes batch conversion so much easier than with VBA.

Could you add a new release to include the additional parameters you added in February?
That would be awesome.

Thanks!

[2022-09-06 10:54] tobya commented on #199
Yes @klaegera My apologies, I have done that now

https://github.com/tobya/DocTo/releases/tag/v1.8

[2022-09-06 10:54] #199 closed

[2022-09-06 16:03] tobya opened #200 "Filename wildcard"
### Discussed in https://github.com/tobya/DocTo/discussions/196

<div type='discussions-op-text'>

<sup>Originally posted by **gluizpessin** August 23, 2022</sup>
Is there a way to utilize wildcards like * and ? in order to batch convert files? </div>

[2022-09-14 20:44] tobya commented on #200
I have added a new paramater

if you use this in combination with a -f directory it should do what you want.
[docto.zip](https://github.com/tobya/DocTo/files/9569862/docto.zip)

I have attached a new binary until I realease a new version.

[2022-09-14 20:47] #200 closed

[2022-09-15 12:07] gluizpessin commented on #200
Thanks man, this will be very useful for me!

[2022-10-10 22:24] Daherr20 commented on #57
Hi,

We are having problems when invoking docto.exe from IIS application which is hosted in 'Windows Server2019 Datacenter'.

Office version: Microsoft Office Professional Plus 2016 (16.0.4266.1001)

Error: EOleException This command is not available because no document is open.

Can you please assist?

[2022-10-11 07:48] tobya commented on #57
Hi @Daherr20 , did you try the solution above, it may work for you?

[2022-10-24 21:20] adamlaffond opened #203 "Error: EOleSysError Call was rejected by callee"
Hi I'm trying a simple conversrion docx->pdf in windows server

this works fine in cmd window : "C:\Program Files\docto\docto_64.exe" -WD -f "C:\test.docx" -O "C:\test.pdf" -t wdFormatPDF

but when I try to execute this thru apache with php :

exec('"C:\Program Files\docto\docto_64.exe" -WD -f "C:\test.docx" -O "C:\test.pdf" -t wdFormatPDF 2>&1',$output,$result);

I get this error :
    [0] => [IN

[2022-10-25 06:31] tobya commented on #203
This is an issue with how windows interacts with word when no user is logged in.  Take a look at the answer to this question. It is linked to some stack overflow questions that suggest a solution.  Thank you for using DocTo.

https://github.com/tobya/DocTo/discussions/202

[2022-11-25 12:50] chross opened #204 "PowerPoint issue"
Hi!
I still have an issue with powerpoint.
The error message from the log is as follows:
[code]

Any idea what the problem might be?
Visio, Excel and Word files will convert successfully.

[2022-11-25 15:14] tobya commented on #204
Could you please provide the full command line and add -L 10 to the end.

What is in C:\docto\tmp\fa78227a921d00273658771095352065952cb483.pdf

[2022-11-25 16:04] chross commented on #204
[code]

The pdf file does not get generated, there is no ouput file.

Kind Regards

[2022-11-25 20:07] tobya commented on #204
Are you running from the command line or via a website (php, node etc)?

Can you convert any other pptx files?  Do they all have the same issue.

Can you try with a ppt file? (if you open pptx  in powerpoint and save as ppt )   Does that work?

If you run it in a console window running as administrator does it work?

Can you try and give me as much information as possible about your setup, This is

[2022-11-25 21:47] chross commented on #204
Hi!
I've set up a Windows Server with IIS and PHP 8. Everything is runnig under a custom user profile, to get everything working I was using the trick from another issue where one had to create the Desktop folder for the system config account.
Office documents are uploaded via POST request and saved in a subfolder of the docto folder (tmp). Then docto is run via shell_exec() with the above mention

[2022-11-25 21:59] tobya commented on #204
pptx support is pretty new and experimental.  I'll see if I can get time to do some test and see if I can reproduce any issues.

If word, excel are working its more likely to be something specific to how powerpoint is running on the server.

When I get some time i'll take  a look at trying to reproduce.

[2022-11-25 22:05] chross commented on #204
Thanks for your effort. If I can be of any assistance, just let me know.

[2022-11-25 22:12] tobya commented on #204
I presume  the document itself opens and resaves manually in powerpoint without issues

eg. can you open the pptx or ppt file in powerpoint and saveas or export as a pdf and not get any errors?

[2022-11-25 22:16] chross commented on #204
That is true. I log on to the server using the same account IIS is running the tasks. Under this user, I can open all files from the /docto/tmp/ folder (after they have been uploaded by the POST request), without problems.

Also, when manually invoking docto on the server, conversion of ppt or pptx files fail as well.

[2022-11-25 22:28] tobya commented on #204
Let me know if you gather any more information about what works and what doesnt.

[2022-11-28 20:44] chross commented on #195
That'd be great. Currently i'm disabling all macros via group Policy which results in hanging word processes when converting macro containing documents. The reason probably is that Word tries to display a "macros are disabled" warning which is not confirmed by the "user".

[2022-11-29 06:43] tobya commented on #195
Can I give you a test version to do some basic testing on before I release the code ?  Just make sure it runs does the conversion and doesnt hang?

[2022-11-29 07:08] tobya commented on #195
This is the test version.  Try it out on some macro documents if you can.
[docto.zip](https://github.com/tobya/DocTo/files/10110567/docto.zip)

version is 1.9 but I will most likely bump to 2.0 as this will be a breaking change.